[2014-03-12 15:49] leeensminger opened #1 "Inbox button incorrectly spelled"
Issue:  The Inbox button at the bottom of the app is misspelled.  It should be "Inbox".

![image](https://f.cloud.github.com/assets/4103847/2399346/d670e302-a9fd-11e3-9ad2-78739596ddbc.png)

[2014-03-12 15:50] leeensminger opened #2 "Contact Information needs to be edited"
Issue:

The Baltimore City Health Department Contact Info is confusing as it is currently displayed.  Please update this text to reflect the following:

Ms. Patricia Vauls
bchd2@baltimorecity.gov
410-396-4427
(After hours: contact the Environmental or the Administration Duty Officer through the City Operator)

[2014-03-12 15:57] leeensminger opened #3 "Occurance Date Field Label Misspelled"
"Occurance Date" field label should be "Occurence Date"

[2014-03-12 16:00] leeensminger opened #4 "Date field menus do not default to current system date"
Issue:
When selecting a date (anywhere in the application), the system shows the default date value within the scrolling menu as Jan 1, 2013.  The system should display as default the current system date.

Steps to reproduce:
Edit a date value within the SSO form (Occurence Date, Date/Time Notified - MDE, etc.)

Fix:
Display current system date as default date

[2014-03-12 16:14] leeensminger opened #5 "Drop down menu contains blank values"
Issue:
Upon opening the drop down menu for the Overflow Type field, the first value shown is a blank value.  This value is selectable, but because this field is a required field, it should not allow this value.

Note that this issue is present in at least one other field (Stream Water Affected), but because this field is not required, it needs to have the blank value here.  These drop down menu op

[2014-03-12 16:26] leeensminger opened #6 "Overflow Start/End date pickers are not stable"
Issue:
The start and end date value pickers inconsistently show no values in the scroller, and the scroller is not scrollable.  This occured within both the start time and end time fields - however, the issue only affected one field at a time.  Upon tapping "Done" to save the null-value-selection, the system populates that field with the default date of Jan 1 2013 00:00:00 (even though this was no

[2014-03-12 16:35] leeensminger opened #7 "No method to clear unwanted date values"
Issue:
The Start Date and End Date fields are not required - but if the user inadvertently selects a date, there is no way to clear the values.

Steps to reproduce:
Within the new SSO data form, enter a start date or end date.  Attempt to clear the values.

Fix:
Please implement a method to clear these fields of their values

[2014-03-12 16:39] leeensminger opened #8 "Reasons For Overflow section - misspellings"
Issue:
Within the Reasons for Overflow section, the following possible causes are misspelled:
Rogs --> Logs(?)
Stuctrual Damage --> Structural Damage
Sand, Grabel, Rocks --> Sand, Gravel, Rocks

Fix:
Fix typo issues

[2014-03-12 16:42] leeensminger opened #9 "Field label lengths are too long"
Issue:
The following field labels are too long:

Section = Other Details
     - Meature Taken to Minimize Di....
                      *_follow up if necessary to fix spelling/typo mistake (no bug logged here)
     - Preventative Action Taken to...
                      *_follow up if necessary to fix spelling/typo mistake (should be Preventive) (no bug logged here)

[2014-03-12 16:52] leeensminger opened #10 "Estimated Quantity Field Label Typo"
Issue:

The units of measure are misspelled in the "Estimated Quantity (Galllons)" field.  Please remove one "L" from Gallons.

[2014-03-12 17:03] leeensminger opened #11 "field dependency does not work"
Issue:
When the user toggles on the "Other" field in the Reasons for Overflow section, the system does not require that the Description field be populated.

Steps to reproduce:
1. Create a new SSO form, including all required fields
2. Toggle on the Other field.  Do not populate Description.
3. Tap Save.

Fix:
If Other is one of the Reasons for Overflow (even if there are multiple fields, includin

[2014-03-12 17:29] leeensminger opened #12 "Required field is not required"
Issue:

The requirements indicate that at least one Possible Cause must be given by the user before the system will allow a save.  This is currently not the case.

Steps to reproduce:
1. Create a new SSO and populate all required fields.  Leave possible causes section blank.
2. Click Save.  The record saves and does not display a notification message.

Fix:
Require that at least one possible cause

[2014-03-12 17:42] leeensminger opened #13 "Required field notification message text refers to incorrect field"
Issue:
When Overflow Active = yes (toggled on), several other fields become required.  If the user taps the Save button without populating any additional fields, the system displays a notification indicating the Estimated Volume field is required.  The system displays the same message when that field is then populated.  I believe that the same text is being displayed, but is being triggered by ano

[2014-03-12 17:56] leeensminger opened #14 "Overflow Start/End date pickers affect Duration value"
Issue:
When the user selects a start date or an end date, the system populates the Duration field with another value.  If a value is already in the Duration field, the system overrides it and replaces it with an invalid number.  The number seems to be correlated with the date chosen - depending on the date selections, I was able to generate Duration numbers from 5,000 - 129,000 minutes.

Steps to

[2014-03-12 17:57] leeensminger commented on #6
I was also, inconsistently, able to generate a date in 2015.  A few minutes later, 2015 was no longer an option within the same SSO form.

There also appears to be an issue that affects the Duration field (bug #14 ) Please take a broader look at these two date pickers.

[2014-03-12 18:50] leeensminger opened #15 "Evidence of an Overflow field type should be changed"
Issue:
I spoke with Joe, and he determined the field "Evidence of an Overflow" should be a dropdown menu instead of a toggle.  The options available = Null, Yes, No.

Apply the following business rules:
1.  Default value = Null
2.  If "is the Overflow Active" = No, then Evidence of an Overflow CAN NOT be Null.  Apply this like any other required field (system displays message at a save attempt).

[2014-03-12 18:53] leeensminger opened #16 "Include time values in Date/Time Notification fields"
Issue:
In the fields listed below, the user should be able to input a date AND time.  Presently, only a date can be selected.
1. Date/Time Notified - MDE
2. Date/Time Notified - HD

Fix:
Please include time values in addition to the date values within the scrollable date pickers.

[2014-03-12 18:56] leeensminger opened #17 "Remove Street Name field from UI"
Issue:
After speaking with Joe, he indicated we should remove the Street Name field (within the General Location Information section) from the user interface.  Please keep the field in the database.

The Street Name will be populated on the back end by UAMD staff.

[2014-03-12 20:35] leeensminger opened #18 "Change default value of Active Overflow"
Issue:
After speaking with Joe, he indicated we should update the default value of the "is the Overflow Active" field.  The toggle field currently defaults to No. The field should be updated to default to Yes.

Fix:
Update the default value of this field to Yes.

[2014-03-13 17:04] kanglu666 commented on #1
fixed

[2014-03-13 17:05] kanglu666 commented on #2
done

[2014-03-13 17:09] kanglu666 commented on #3
fixed

[2014-03-13 17:10] kanglu666 commented on #5
blank value has been removed, "Wet" is the default value

[2014-03-13 17:11] kanglu666 commented on #6
updated, please test, once get error/unstable, please let me know

[2014-03-13 17:12] kanglu666 commented on #7
updated, clear button will do this job, please test

[2014-03-13 17:12] kanglu666 commented on #8
fixed

[2014-03-13 17:13] kanglu666 commented on #10
fixed

[2014-03-13 17:15] kanglu666 commented on #13
it's working fine at my side, we can go through this together if you still have this issue.

[2014-03-13 17:16] kanglu666 commented on #18
fixed

[2014-03-13 18:06] JMurk commented on #9
Lu, please make these updates per my email.  Also, be sure that it says "Preventive"

[2014-03-13 18:09] JMurk commented on #5
Can you leave this as NULL by default and force the user to pick one?  If not, the default value should be "Dry"

[2014-03-13 18:19] kanglu666 commented on #4
fixed

[2014-03-13 18:19] kanglu666 commented on #9
fixed

[2014-03-13 18:20] kanglu666 commented on #11
done

[2014-03-13 18:21] kanglu666 commented on #12
done

[2014-03-13 18:21] kanglu666 commented on #15
done

[2014-03-13 18:35] kanglu666 commented on #14
please test, only you get the same error or unstable, just let me know

[2014-03-13 21:09] leeensminger opened #19 "Consistent Issues Locking Up at Saving New SSO"
Issue:

Upon trying to save a new record, the system locks up at the "Loading..." screen.  The system will spin here for at least 10 minutes.  The browser itself does not lock up, and the animation within the Loading screen is active, however, it does not appear changes are being written to the database.

Steps to reproduce:
1. Tap the New SSO button
2. Tap the screen and follow the prompts to get

[2014-03-13 21:24] leeensminger commented on #19
The record in question does not display in the Inbox - indicating to me that the record is not being saved to the database.

[2014-03-14 15:47] leeensminger opened #20 "Photo Attachment tool rotates photos 90 degrees"
Issue:
After attaching photos, the photos are displayed in the thumbnail area as rotated 90 degrees.  Selecting the photo and viewing it larger produces the same result.

Steps to recreate:
1. Create new SSO
2. Tap photos tab to attach photo
3. Select photo and tap Submit
4. View thumbnail display is rotated

Fix:
The system should display the photo as it was imported.

[2014-03-14 15:50] leeensminger opened #21 "Photo attachment tool does not clear file picker attributes after upload"
Issue:
After picking a photo file and submitting, the image name and description do not clear.  This results in some confusion, especially after adding another photo and the description is still that of the prior photo.

Steps to reproduce:
1. Select a photo to SSO form
2. Tap Submit to submit the photo [the system should clear the file name and description at this time, but does not]

Fix:
After

[2014-03-14 15:57] leeensminger opened #22 "Photo attachment tool Remove button does not work"
Issue:

The Remove button in the photo attachment tool has no functionality to it.

Steps to reproduce:
1. Within the photo tool, select an image
2. Tap the Remove button
3. Nothing happens

Fix:
Implement the functionality here

[2014-03-14 16:42] leeensminger commented on #19
Discussed with Lu and this appears to occur when a value is entered which violates field types or lengths.  Lu plans to build in functions to force compliance with field types and lengths.

[2014-03-14 16:49] leeensminger opened #23 "Start / End Date and Time does not correctly force validation"
Issue:
When selecting start/end time and date for an Active Overflow, if the user selects an end date that is less than the start date (or clears the end date), the system correctly displays a notification, indicating this cannot happen.  The system then incorrectly closes the date picker and allows the invalid data to populate into the field.

Steps to recreate:
1. Within a new SSO form, select a

[2014-03-14 16:51] leeensminger commented on #23
This is a non-issue.
It appears the system does enforce this as required upon Save.  If this process is incorrect it can be modified as an enhancement.

[2014-03-14 16:51] #23 closed, assigned to kanglu666

[2014-03-14 17:13] leeensminger opened #24 "Update Feature Type value "Break Pipe""
Overflowing Feature / Feature Type --- existing value "Break Pipe" should be "Broken Pipe"

![featuretype](https://f.cloud.github.com/assets/4103847/2423623/8c0d9c7e-ab9c-11e3-87a2-5439651eb13f.JPG)

[2014-03-14 17:43] leeensminger opened #25 "Display confirmation message when user deletes record"
Issue:

When the user deletes a record, the system does not display a confirmation message before deleting.

Please build in a confirmation message with "Are you sure you want to delete this record?", with Yes / No buttons.  If no, return to form.  If Yes, delete record.

[2014-03-14 17:46] leeensminger opened #26 "Unsaved edits confirmation message"
Issue:
A confirmation message should be displayed when the user edits a form and then taps elsewhere (outside the form).  The message should alert the user "There are unsaved edits.  Would you like to continue?"  with OK/Cancel options.  If the user taps Cancel the system returns to the form.  If the user taps OK, the edits are NOT saved to the database.

[2014-03-14 17:50] leeensminger opened #27 "'Form Not Submitted' Notification Message"
Issue:
The system should display a notification message when the user (1) saves edits to a new or existing form, (2), does not submit the form, and (3) navigates away from the form.  The notification message should display "The SSO is not submitted", with an OK button.

[2014-03-17 15:45] kanglu666 commented on #21
According to Sencha Engineering this is a result browser security issue and cannot be fixed. We are not allowed to modify the contents of a input tag with the type of file.
http://www.sencha.com/forum/showthread.php?273410-File-Field-Clear-Icon

[2014-03-17 16:03] kanglu666 commented on #19
zipcode field has been changed to a int type field. if user type string in that field and then click save, the system will ask for the zipcode field requied.

[2014-03-17 16:04] kanglu666 commented on #20
photo from desktop browser will rotate, photo from ipad will not.
just ignore this if testing from chrome

[2014-03-17 16:04] kanglu666 commented on #22
fixed.

[2014-03-17 16:05] kanglu666 commented on #25
fixed

[2014-03-17 16:06] kanglu666 commented on #26
leave this as future enhancement.

[2014-03-17 16:09] kanglu666 commented on #27
submit function will change the record status to submit.
if one record is saved but not submitted, user will always see it in his INBOX. once submit, the record will not show up. but can be view from the map identify function, and it's ready only.
i will keep it as is. but if do need to show user record is not submit, we can do it for future enhancement.

[2014-03-18 14:18] leeensminger opened #28 "inbox page title contains typo"
Inbox page title = "Indox"

Rename to "Inbox"

[2014-03-18 14:29] leeensminger commented on #27
this is requirement 6.39.  please implement.

[2014-03-18 14:43] leeensminger commented on #24
please fix

[2014-03-18 14:49] leeensminger commented on #9
please update "Meature" ==> "Measure"
please update "Preventative" ==> "Preventive"

[2014-03-18 14:54] leeensminger commented on #13
working correctly

[2014-03-18 15:01] leeensminger opened #29 "SSO ID allows duplicates"
It is not currently a requirement, but it is possible to generate 2 SSO records with duplicate SSO ID numbers.

![dupe_sso_id](https://f.cloud.github.com/assets/4103847/2449139/108e907a-aeae-11e3-8a58-5c2f9ce9cb60.JPG)

[2014-03-18 16:48] #28 closed, assigned to kanglu666

[2014-03-18 16:59] #22 closed, assigned to leeensminger

[2014-03-18 16:59] #1 closed, assigned to leeensminger

[2014-03-18 17:00] #2 closed, assigned to leeensminger

[2014-03-18 17:00] #3 closed, assigned to leeensminger

[2014-03-18 17:00] #4 closed, assigned to leeensminger

[2014-03-18 17:00] #5 closed, assigned to leeensminger

[2014-03-18 17:00] #6 closed, assigned to leeensminger

[2014-03-18 17:00] #7 closed, assigned to leeensminger

[2014-03-18 17:00] #8 closed, assigned to leeensminger

[2014-03-18 17:00] #9 closed, assigned to kanglu666

[2014-03-18 17:00] #10 closed, assigned to leeensminger

[2014-03-18 17:00] #11 closed, assigned to leeensminger

[2014-03-18 17:00] #12 closed, assigned to leeensminger

[2014-03-18 17:00] #13 closed, assigned to leeensminger

[2014-03-18 17:00] #14 closed, assigned to leeensminger

[2014-03-18 17:00] #15 closed, assigned to leeensminger

[2014-03-18 17:00] #16 closed, assigned to leeensminger

[2014-03-18 17:00] #17 closed, assigned to leeensminger

[2014-03-18 17:00] #18 closed, assigned to leeensminger

[2014-03-18 17:00] #19 closed, assigned to leeensminger

[2014-03-18 17:00] #20 closed, assigned to leeensminger

[2014-03-18 17:00] #21 closed, assigned to leeensminger

[2014-03-18 17:20] #25 closed, assigned to leeensminger

[2014-03-18 17:26] #24 closed, assigned to kanglu666

[2014-03-18 17:28] #27 closed, assigned to kanglu666

[2014-03-26 11:56] JMurk commented on #29
SSOID should be unique.  It is the primary key for the feature class.  Lets discuss the best way to avoid duplication.

[2014-03-26 12:00] JMurk opened #30 "SSO Application - Geocoder Function"
Issue:  The user would greatly benefit from a geocode function similar to the one in the Utility Viewer.  Currently if a user is not at the location or does not know where it is to manually zoom in, there is no way they can get to the area of interest.

Resolution:  Please add an address search that will allow them to zoom to the input address.

[2014-03-26 12:03] JMurk opened #31 "SSO Application - Selection of Manhole - Zooms Out"
Issue:  When a manhole is selected from the list of potential Overflow features, the map zooms out to a large scale and the user must zoom back in manually to see the details.

Resolution:  When a manhole is selected, please keep the map at a small scale so that the user can see the details of the area.

[2014-03-26 12:16] JMurk opened #32 "SSO Application - Create New Point - No Scale Tolerance"
Issue:  The application should prevent users from creating new SSOs when zoomed out beyond a scale of 1:2000.

Resolution:  Please add a scale tolerance for the Add New SSO function.  When a user tries to add a new SSO beyond 1:2000 a message should be displayed that reads "Cannot Create Point, Please Zoom In to Problem Location First"

[2014-03-26 19:04] JMurk opened #33 "SSO Application - Autopopulate Zipcode"
Issue:  Add function similar to the sewershed autopopulate for zipcode.

Resolution:  Add the zipcode feature class to a map service and use it to populate the Zipcode field of intersecting features.

[2014-03-31 16:22] JMurk opened #34 "SSO Application - Change Label"
Change the "Is the Overflow Active?" label to read "Is the Overflow Still Active?"  it will write to the same DB field.  Some changes may need to be made to the report.  Please assign to Eric after the change if so.

[2014-03-31 16:29] JMurk opened #35 "SSO Application - Additional Fields"
Issue:  Add Input for "Was an Active Overflow Observed?" and "Is Bypass Pumping Needed?"

Resolution:
1. Joe to add DB fields
2. Lu to add Application fields.  Active Overflow Observed above Overflow Still Active and Bypass Pumping Below Overflow Still Active.
3. Eric to add to report

[2014-03-31 16:46] JMurk opened #36 "SSO Application - Overflow Evidence"
Issue:  Inactive Overflow Information is not necessary and "Evidence of an Overflow" label should ready "Evidence of an Overflow Only?"

Resolution:  Remove Inactive Overflow Information as a grouping and change the label of  "Evidence of an Overflow" to "Evidence of an Overflow Only?"

[2014-04-01 13:25] JMurk opened #37 "SSO Application - Report - Description Values"
Issue:  Data fields using domains are displaying the coded value in the reports.

Question:  Is there any way to pull the description value from the ArcGIS domain?

Resolution: Investigate a way to use description values instead of coded values.

[2014-04-01 13:35] JMurk opened #38 "SSO Application - Report - Label Not in CAPS"
Issue:  The Est. Quantity of Discharge field label is in proper case and is not consistent with the rest of the labels on the report.

![image](https://cloud.githubusercontent.com/assets/5805454/2579531/7666fb9a-b9a2-11e3-8df7-f500b73089e4.png)

Resolution:  Please make the label all caps.

[2014-04-01 13:57] JMurk opened #39 "SSO Application - Overflowing Feature List"
Issue:  Sewer Manholes are at the bottom of the list when selecting the Overflowing feature.

![image](https://cloud.githubusercontent.com/assets/5805454/2579762/430bebf4-b9a5-11e3-9d3a-a733ad448671.png)

Question:  How are the results sorted?

Resolution:  Please sort the results for OVERFLOWING features so that manholes are at the top of the list.  Most times manholes are the feature type that i

[2014-04-01 13:58] JMurk commented on #31
Confirmed Complete @ City

[2014-04-01 13:58] #31 closed, assigned to kanglu666

[2014-04-01 14:02] JMurk opened #40 "SSO Application - House Connection Zoom Level"
Issue:  When selecting a House Connection from the list of features, the map zooms to far in.

![image](https://cloud.githubusercontent.com/assets/5805454/2579840/2bb193ae-b9a6-11e3-8626-2bb7b6de1905.png)

Resolution:  Please adjust the zoom scale.  You can use the same scale that is used for manholes.

[2014-04-01 14:07] JMurk opened #41 "SSO Application - Lateral/CO Points List Display"
Issue:  Currently, the lateral/co points display the POINT_ID in the list of features.

![image](https://cloud.githubusercontent.com/assets/5805454/2579895/cb48518c-b9a6-11e3-936b-7ffe3636c85a.png)

Resolution:  Please reove the POINT_ID from the list display and replace it with Address.  Should appear as:

2205 Saint Paul St, Lateral/CO Points

[2014-04-01 14:15] JMurk opened #42 "SSO Application - Overflow Type Default Value"
Issue:  The Overflow Type field defaults to a value of "Dry."

![image](https://cloud.githubusercontent.com/assets/5805454/2579970/0520e9cc-b9a8-11e3-95e2-48ae7d45b3d4.png)

Resolution:  Please make this field null or blank by default and force the user to enter a value.

[2014-04-01 14:35] JMurk opened #43 "SSO Application - Selecting Times"
Issue:  When selecting a time in the app, the clock is 24 hours.

Question: Is there anyway to make it a 12-hour clock with am/pm designations?  This would make it much easier for users.

[2014-04-01 15:05] JMurk opened #44 "SSO Application - Load All SSOs"
Issue: The Load SSOs button on the inbox does not seem to be functioning.

Resolution:  Please investigate and resolve accordingly.

[2014-04-01 15:16] JMurk opened #45 "SSO Application - Required Fields"
Issue:  Fields are required for the Save operation.  This is problematic, as a user may not know some of the required information prior to saving the record.

Resolution:  Rather then requiring fields on Save, require fields upon Submit.

[2014-04-01 15:19] JMurk opened #46 "SSO Application - Required Field Message"
Issue: When a Required Field is missing, the message prompted displays the name of the database field rather the the application field.

![image](https://cloud.githubusercontent.com/assets/5805454/2580741/d936fb04-b9b0-11e3-9bf0-94a32b33d1c6.png)

Resolution:  Please update ALL messages so that they display the application field label rather than the database field name.  If this is not possible,

[2014-04-01 15:35] JMurk opened #47 "SSO Application - Saving a New Record"
Issue:  Upon saving a NEW SSO, the system closes the SSO Details and opens the map view.  After the SSO is saved, a message should be prompted notify the user that the record is saved but NOT submitted (see wireframes)

Resolution:  Upon save of a new SSO record, please add a confirmation message and make sure that the app does not navigate away from the SSO details page.

[2014-04-01 15:39] JMurk opened #48 "SSO Application - Add Link to Report"
Enhancement:  Add a link to the SSO Report within the rows of the inbox.

![image](https://cloud.githubusercontent.com/assets/5805454/2581003/be2aa5d8-b9b3-11e3-8849-5140329328da.png)

[2014-04-01 16:41] JMurk opened #49 "SSO Application - Report - Overflowing/Choked Features"
Issue:  Missing Info on the report for realted features.

Resolution:  Please make the following changes.
-Change to OVERFLOW FEATURE ID.  Field should pull from various data fields determined by the overflow structure.
- Add CHOKE TYPE:
- Change to CHOKED FEATURE ID:

![image](https://cloud.githubusercontent.com/assets/5805454/2581775/649a7580-b9bc-11e3-9f23-770f088b2279.png)

[2014-04-01 16:44] JMurk opened #50 "SSO Application - Stream Water Affected Label"
Please update the "Stream Water Affected" label to read "Stream/Water Affected"

![image](https://cloud.githubusercontent.com/assets/5805454/2581824/e9135bb0-b9bc-11e3-9878-4a97ee2dcfb3.png)

[2014-04-01 16:45] JMurk opened #51 "SSO Application - Estimated Flow Label"
Please add a space between Gal. and per in the label below:

![image](https://cloud.githubusercontent.com/assets/5805454/2581839/15e8320a-b9bd-11e3-9ed1-5402760e45d3.png)

[2014-04-03 15:25] kanglu666 commented on #47
message box will pop up after the user save an new SSO.
submit SSO can only happen through the inbox.

[2014-04-03 15:32] kanglu666 commented on #46
field name will be show up.

[2014-04-03 15:37] kanglu666 commented on #44
there are over 2000 SSO in the database, right now the load all will just return some records based on the date. we need to talk about this. the app can not return all the sso back to the user.

[2014-04-03 15:39] kanglu666 commented on #42
done

[2014-04-03 16:02] kanglu666 commented on #41
change the display field for the point address layer to the Address

[2014-04-03 16:44] kanglu666 commented on #39
sewer manhole will be the top of the list

[2014-04-03 16:50] kanglu666 commented on #36
done

[2014-04-03 17:04] kanglu666 commented on #29
will be unique

[2014-04-03 17:28] kanglu666 commented on #43
keep as 24 hours style, because there will be calculation for seconds.

[2014-04-03 17:29] kanglu666 commented on #34
done

[2014-04-04 18:26] kanglu666 commented on #51
done

[2014-04-04 18:26] kanglu666 commented on #50
done

[2014-04-04 18:26] kanglu666 commented on #30
done

[2014-04-04 20:19] JMurk commented on #51
Confirmed complete.

[2014-04-04 20:19] #51 closed, assigned to JMurk

[2014-04-04 20:20] JMurk commented on #50
Confirmed complete.

[2014-04-04 20:20] #50 closed, assigned to JMurk

[2014-04-07 12:41] JMurk opened #52 "SSO Application - Typo in Add New SSO Prompt"
Issue:  When adding a new SSO, the prompted message reads "Add New SSO?  Tap on MAP"

Resolution:  In the message, please change "MAP" to "Map"

[2014-04-07 13:02] JMurk commented on #47
The message box is correct, however upon save, the SSO details should remain open.  There is no reason restrict the submit to the inbox.

[2014-04-07 13:11] JMurk commented on #46
Confirmed complete

[2014-04-07 13:11] #46 closed, assigned to JMurk

[2014-04-07 13:17] JMurk commented on #44
How many can it load?  We could cahnge it to be "Load the most recent 100 SSOs" or something like that.

[2014-04-07 13:23] JMurk commented on #43
I'm not sure that I understand.  Lets talk about this.

[2014-04-07 13:23] JMurk commented on #42
Confirmed complete.

[2014-04-07 13:23] #42 closed, assigned to JMurk

[2014-04-07 14:09] JMurk commented on #41
Confirmed complete

[2014-04-07 14:09] #41 closed, assigned to JMurk

[2014-04-07 14:10] JMurk commented on #39
Confirmed complete.

[2014-04-07 14:10] #39 closed, assigned to JMurk

[2014-04-07 14:11] JMurk commented on #36
Confirmed complete

[2014-04-07 14:11] #36 closed, assigned to JMurk

[2014-04-07 14:12] JMurk commented on #34
Confirmed complete.

[2014-04-07 14:12] #34 closed, assigned to JMurk

[2014-04-07 14:13] JMurk commented on #30
Confirmed complete and functional.

[2014-04-07 14:13] #30 closed, assigned to JMurk

[2014-04-07 14:14] #29 closed, assigned to JMurk

[2014-04-08 15:47] JMurk opened #53 "SSO Application - 24-Hour Report Email"
Issue:  The email body should read:

A SSO has been reported at:  2331 N Fulton Ave
Click Here to View/Download the Report

![image](https://cloud.githubusercontent.com/assets/5805454/2645661/178348fc-bf35-11e3-84b9-4efdcab1ecbf.png)

Please:
1. Remove the SSO ID in ().
2. Remove the word "Location"
3. Put the address on the first line.

[2014-04-08 17:43] kanglu666 commented on #32
done

[2014-04-08 17:44] kanglu666 commented on #40
done

[2014-04-08 17:44] kanglu666 commented on #48
done

[2014-04-08 17:45] kanglu666 commented on #52
done

[2014-04-08 18:52] JMurk opened #54 "SSO Application - Add Sewer Lampholes as an Overflow Feature"
Please add Sewer Lampholes to the list of selectable Overflowing Features.
1. Joe M to add to Overflow Structure domain list
2. Lu to add to code.

[2014-04-08 19:58] kanglu666 commented on #53
done

[2014-04-08 19:59] kanglu666 commented on #47
done

[2014-04-10 13:01] JMurk commented on #32
Confirmed complete.

[2014-04-10 13:01] #32 closed, assigned to JMurk

[2014-04-10 13:01] JMurk commented on #53
Confirmed complete

[2014-04-10 13:01] #53 closed, assigned to JMurk

[2014-04-10 13:08] JMurk commented on #52
Confirmed complete.

[2014-04-10 13:08] #52 closed, assigned to JMurk

[2014-04-10 13:10] JMurk commented on #48
Lu, is there any way to filter the link out on SSO where STATUS = "In Progress" ?

[2014-04-10 13:10] JMurk commented on #47
Confirmed complete.

[2014-04-10 13:10] #47 closed, assigned to JMurk

[2014-04-10 13:17] JMurk commented on #40
Confirmed complete

[2014-04-10 13:17] #40 closed, assigned to JMurk

[2014-04-14 14:03] JMurk opened #55 "SSO Application - Initial Tap re-do"
Issue:  The user has no way to re-tap a point in case of a mistake immediately following the first tap.

Resolution:  Not sure what the best method is here, perhaps we should discuss?

[2014-04-14 14:06] JMurk opened #56 "SSO Application - Auto Populate Water Affected"
Issue:  Waters affected should be auto populated based on the location of the point.

Resolution:

-UAMD DMS group to review Stormwater Watersheds and edit to get the nescessary attribute.
-Joe M. to load into SDE (may need to discuss with Marian Batton)
-Joe M to update domain values for field.
-Lu to add code for app

[2014-04-14 14:09] JMurk opened #57 "SSO Application - Calculations"
Issue:  The calculated fields are only calculated upon initial population of the variable fields.  When the records are edited, the fields are no repopulated.

Resolution:  Please run the calculation on insert and update of the variable fields.

[2014-04-14 14:14] JMurk opened #58 "SSO Application - Pick Feature Types from SSO Details Form"
Issue:  When Overflow or choked features are not selected on the map, the user should be able to select the feature types from the dropdown menu.

Resolution:  When the Overflow and Choked feature IDs are null, make the Feature types editable.  Also, users with QC permissions should be able to edit the feature type and ID.

[2014-04-14 14:15] JMurk opened #59 "SSO Application - Verify Domain Value"
Verify the Sump Pump is a value in the Overflowing feature domain list.  If not, please add.

[2014-04-14 14:18] JMurk opened #60 "SSO Application - Update Modal Screen Questions"
Please change the following modal screen text:

-Change "Can you Identify the Overflowing Feature?" to "Can you Identify the Overflowing Feature on the Map?"

-Change "Can you Identify the Choked Feature?" to "Can you Identify the Choked Feature on the Map?"

[2014-04-14 14:20] JMurk opened #61 "SSO Application - Inbox User Name"
Please Change the user name displayed in the inbox from the USERNAME to the FULLNAME field.

Example:  joe.murk should be Joe Murk

[2014-04-14 14:21] JMurk opened #62 "SSO Application - Status Options"
Issue:  Statuses are too vague.

Resolution:  Rethink Statuses.  Submit should have a few different options.

[2014-04-14 14:22] JMurk opened #63 "SSO Application - Add Process for QC/ 5-day Report"
Document workflow/requirements and pass to developers.

[2014-04-14 14:23] JMurk opened #64 "SSO Application - Clearing Graphics"
Is there anyway to add a "Clear Graphics" button to the application?  Sometimes graphics get stuck on the map view.

[2014-04-14 20:18] tarheelgis commented on #37
Update to handle domain values. Please check once posted.

[2014-04-14 20:18] tarheelgis commented on #38
Fixed Please check once posted.

[2014-04-14 20:19] tarheelgis commented on #49
Fixed Please check once posted.

[2014-04-16 17:47] kanglu666 commented on #64
where to add this button? on the top toolbar?

[2014-04-16 17:49] kanglu666 commented on #60
done

[2014-04-16 17:51] kanglu666 commented on #57
calculation is working for both update and insert

[2014-04-16 17:51] kanglu666 commented on #55
let's talk about this first

[2014-04-16 17:53] kanglu666 commented on #48
no, all records in the inbox list will have that view report hyperlink.

[2014-04-16 18:05] kanglu666 commented on #43
done

[2014-04-16 18:21] kanglu666 commented on #61
done

[2014-04-18 14:26] JMurk commented on #64
Yeah, I think that would work.

[2014-04-18 14:31] JMurk commented on #61
Confirmed complete

[2014-04-18 14:31] #61 closed, assigned to JMurk

[2014-04-18 14:33] JMurk commented on #60
Lu-  Can you make the text center aligned?

[2014-04-18 14:37] JMurk commented on #59
It is not in there, please add.

[2014-04-18 14:51] JMurk opened #65 "SSO Application - Preventive Action Required Message Typo"
Please update this confirmation message to read: "Preventive" instead of "Prevent"

![image](https://cloud.githubusercontent.com/assets/5805454/2742742/d726a5d4-c708-11e3-9297-92e6aa0c6623.png)

[2014-04-18 14:53] JMurk opened #66 "SSO Application - Add Photos Button"
Issue:  Please Change the Add Photos button to be just "Photos"

![image](https://cloud.githubusercontent.com/assets/5805454/2742766/221aa0b8-c709-11e3-862c-d10ead722d0e.png)

[2014-04-18 14:59] JMurk commented on #57
confirmed complete

[2014-04-18 14:59] #57 closed, assigned to JMurk

[2014-04-18 15:03] JMurk commented on #48
Ok. Closing.

[2014-04-18 15:03] #48 closed, assigned to JMurk

[2014-04-18 15:03] JMurk commented on #43
confirmed complete.

[2014-04-18 15:03] #43 closed, assigned to JMurk

[2014-04-18 15:19] JMurk opened #67 "SSO Application - Change Submit Button"
Please change the Submit Button to read "Email"

![image](https://cloud.githubusercontent.com/assets/5805454/2743018/e6951498-c70c-11e3-900b-17420d17a6f3.png)

[2014-04-18 15:28] JMurk opened #68 "SSO Application - Not Submitted Message"
Please update the following confirmation message to read:  "The 24-Hour report has not been submitted. Continue?"

![image](https://cloud.githubusercontent.com/assets/5805454/2743100/f85b0d9e-c70d-11e3-9ec8-b89054bbfd2e.png)

[2014-04-18 15:59] JMurk opened #69 "SSO Application - Report - Start & End Date"
Issue:  Start Date and End Date should also include time.

![image](https://cloud.githubusercontent.com/assets/5805454/2743264/2780a284-c711-11e3-8416-918a7c0f67a5.png)

Resolution:  Add time to the report, also change the labels to "START DATE/TIME" AND END DATE/TIME"

Please assign back to me when complete.

[2014-04-18 16:01] JMurk opened #70 "SSO Application - Report - Reason For Overflow Other Descriptions"
Issue:  When Other is selected as an option, the description is not displayed on the report.

![image](https://cloud.githubusercontent.com/assets/5805454/2743349/a7a50832-c712-11e3-9f01-6a94e424ef60.png)

Resolution:  Please add Other Description to the report.  Of possible, only display if OTHER is selected.

[2014-04-18 16:06] JMurk opened #71 "SSO Application - Report - Misspelling"
Issue:  Should be "Preventive" not "Preventative"

![image](https://cloud.githubusercontent.com/assets/5805454/2743384/4cbe0fe4-c713-11e3-8bc6-c545a287d0c2.png)

Resolution:  Please update label.

[2014-04-18 16:21] JMurk commented on #49
Looks good. Closing.

[2014-04-18 16:21] #49 closed, assigned to tarheelgis

[2014-04-18 16:22] JMurk commented on #38
Confirmed complete

[2014-04-18 16:22] #38 closed, assigned to tarheelgis

[2014-04-18 16:24] JMurk commented on #37
Confirmed complete.

[2014-04-18 16:24] #37 closed, assigned to tarheelgis

[2014-04-21 00:36] JMurk commented on #35
Database fields added:  BYPASS_NEEDED and ACTIVE_OBSERVED.  Lu please update application form.

[2014-04-21 00:38] JMurk commented on #62
Statuses updated to:  PROG, 5DAY, 24HR

Lu,  please update application code as necessary.

[2014-04-21 00:39] JMurk commented on #59
Added as coded value SP.

[2014-04-21 00:39] #59 closed, assigned to JMurk

[2014-04-21 00:44] JMurk commented on #54
Added as coded value LH.  Also added a field for the ID as OVERFLOWING_LAMPHOLE_ID

Lu,  please add Lampholes to the selectable features for Overflowing features.

[2014-04-21 00:48] JMurk opened #72 "SSO Application -Cleanout Point Placement"
Question:  When a user selects a cleanout as the overflowing feature, can we have the application create the point at the tap location rather then placed on top of the point.

This is necessary because the features used to spatially represent clean outs are typically not in the correct location.  Most are in the center of the parcel.

[2014-04-21 17:06] kanglu666 commented on #54
done

[2014-04-21 17:07] kanglu666 commented on #60
done

[2014-04-21 18:16] kanglu666 commented on #45
done

[2014-04-21 18:18] kanglu666 commented on #64
done

[2014-04-21 18:18] kanglu666 commented on #65
done

[2014-04-21 18:18] kanglu666 commented on #66
done

[2014-04-21 18:19] kanglu666 commented on #67
done

[2014-04-21 18:19] kanglu666 commented on #68
done

[2014-04-21 18:20] kanglu666 commented on #72
done

[2014-04-21 19:54] JMurk opened #73 "SSO Application - Report - Add Map"
Please add a Map to the SSO Report output.

[2014-04-22 14:52] jday3 opened #74 "Portal - Icons"
We need icons for the portal page for - utility viewer, sso, leak, and fse.

![capture](https://cloud.githubusercontent.com/assets/4439618/2766326/bd1cd500-ca2d-11e3-8d75-09b1c50820e5.PNG)

[2014-04-22 14:54] jday3 opened #75 "Portal - Permissions"
We need a list of users/permissions for each app in order to properly enable/disable links on the portal page.

[2014-04-22 16:09] jday3 commented on #74
Updated portal view. Suggestions are welcome!
![capture](https://cloud.githubusercontent.com/assets/4439618/2767472/74147fe2-ca38-11e3-999c-a9b398e68b97.PNG)

[2014-04-22 17:08] alanfoster99 commented on #74
Would it be worthwhile to query the user's device, and have a desktop site and a separate mobile site?

[2014-04-22 18:20] tarheelgis commented on #69
These two fields are in the report design and available to be filled.

[2014-04-22 18:21] tarheelgis commented on #73
Added please test

[2014-04-22 18:21] tarheelgis commented on #71
Fixed Please test

[2014-04-23 18:01] JMurk commented on #72
Confirmed complete.

[2014-04-23 18:01] #72 closed, assigned to JMurk

[2014-04-23 18:06] JMurk opened #76 "SSO Application - Estimated Volume Required Notification"
Please change the following dialogue to read:  "Estimated Quantity field is required!"  Also, the label in the application form needs an asterisks to denote it as required.

![image](https://cloud.githubusercontent.com/assets/5805454/2781277/009b1096-cb12-11e3-8284-986151420642.png)

![image](https://cloud.githubusercontent.com/assets/5805454/2781324/80373780-cb12-11e3-8673-6875c2b732a4.png)

[2014-04-23 18:13] JMurk commented on #73
I do not see the map.  Is this is production?  Also, please change the assignee to me when you are finished.

[2014-04-23 19:15] alanfoster99 opened #77 "SSO - Zoom to my Location"
On iPad, if the user uses the Zoom to My Location tool consecutively (usually only 2 - 3 times) the app crashes.

[2014-04-23 19:43] tarheelgis commented on #73
You have to click the paging button at the top of the report toolbar. It is on Page2

[2014-04-24 12:53] JMurk commented on #73
Oooohhhh duh! Sorry about that- confirmed complete.

[2014-04-24 12:53] #73 closed, assigned to JMurk

[2014-04-24 13:16] JMurk opened #78 "SSO Application - Saved bu Not Submitted Message"
Please update the follwing message to read "The SSO has been saved, but the report has NOT been e-mailed/submitted."

![image](https://cloud.githubusercontent.com/assets/5805454/2789767/8b5f8734-cbb2-11e3-812b-7fe4e3fd98d2.png)

[2014-04-24 16:32] kanglu666 commented on #44
done, change button to "Load All Submitted SSOs - 24 Hours"

[2014-04-24 16:32] kanglu666 commented on #62
done

[2014-04-24 18:39] kanglu666 commented on #35
done

[2014-04-24 18:43] kanglu666 commented on #76
done

[2014-04-24 18:43] kanglu666 commented on #78
done

[2014-04-25 11:19] JMurk commented on #78
Confirmed complete

[2014-04-25 11:19] #78 closed, assigned to JMurk

[2014-04-25 11:21] JMurk commented on #35
Eric, Please Add the three fields to the report.

[2014-04-25 11:22] JMurk commented on #68
Confirmed complete.

[2014-04-25 11:22] #68 closed, assigned to JMurk

[2014-04-25 11:23] JMurk commented on #44
Confirmed complete.

[2014-04-25 11:23] #44 closed, assigned to JMurk

[2014-04-25 11:27] JMurk opened #79 "SSO Application - Overflow Type Required Message"
Please update the following message to: "Overflow Type is required. Please save first!"

Also, please fix the capitalization anywhere "Please Save First!" is.  Only Please should be capitalized.

![image](https://cloud.githubusercontent.com/assets/5805454/2800080/59945a44-cc6c-11e3-9e20-5a5f4bc2b742.png)

[2014-04-25 11:29] JMurk commented on #76
Confirmed complete.

[2014-04-25 11:29] #76 closed, assigned to JMurk

[2014-04-25 11:29] JMurk commented on #67
Confirmed Complete.

[2014-04-25 11:29] #67 closed, assigned to JMurk

[2014-04-25 11:32] JMurk commented on #66
Cleared cache and I see no change.

[2014-04-25 11:33] JMurk commented on #65
Confirmed complete.

[2014-04-25 11:33] #65 closed, assigned to JMurk

[2014-04-25 11:34] JMurk commented on #64
Confirmed complete.

[2014-04-25 11:34] #64 closed, assigned to JMurk

[2014-04-25 11:35] JMurk commented on #62
Complete

[2014-04-25 11:35] #62 closed, assigned to JMurk

[2014-04-25 11:36] JMurk commented on #60
Confirmed complete.

[2014-04-25 11:36] #60 closed, assigned to JMurk

[2014-04-25 11:37] JMurk commented on #54
Confirmed complete.

[2014-04-25 11:37] #54 closed, assigned to JMurk

[2014-04-25 11:43] JMurk commented on #33
Lu, a new map service called SSO_Boundaries that includes the zipcode feature class and the stormshed feature class that you will need to autopopulate the two fields in the SSO attributes.  Please update.

[2014-04-25 11:45] JMurk commented on #45
Confirmed complete.

[2014-04-25 11:45] #45 closed, assigned to JMurk

[2014-04-25 13:26] alanfoster99 commented on #77
This is a known bug with the platform.  Closing.

[2014-04-25 13:26] #77 closed, assigned to kanglu666

[2014-04-25 16:29] JMurk commented on #55
Add a button called "Cancel" to this pop up

![image](https://cloud.githubusercontent.com/assets/5805454/2803112/c47844b8-cc96-11e3-9f52-107508522052.png)

[2014-04-25 16:32] JMurk opened #80 "SSO Application - Cleanout ID Displayed"
When Clean outs are displayed in the Associate Feature list, the point ID is shown.  Can this be updated to show the address instead?

![image](https://cloud.githubusercontent.com/assets/5805454/2803144/2e903aea-cc97-11e3-88b2-25818751bf3e.png)

[2014-04-25 16:36] JMurk opened #81 "SSO Application - Successfully Submitted Confirmation Message"
Please make the following updates to this confirmation message:
1. Change "Successfully" to "Success!"  - Change the text to white
2. Change the Message to read:  "The 24-Hour Report has been sent to the Distribution List."

![image](https://cloud.githubusercontent.com/assets/5805454/2803184/bea0f4bc-cc97-11e3-9b54-6e51c5b699e6.png)

[2014-04-25 16:44] JMurk commented on #69
I still do not see time on the report for these fields.

[2014-04-25 16:45] JMurk commented on #71
Confirmed complete.

[2014-04-25 16:45] #71 closed, assigned to tarheelgis

[2014-04-25 16:59] JMurk opened #82 "SSO Application - Report - Name of Preparer"
Can you pull the FULLNAME from the SSO_Users table to populate the NAME OF PREPARER field on the report?

![image](https://cloud.githubusercontent.com/assets/5805454/2803371/e66bab56-cc9a-11e3-8769-190d0abbbd21.png)

[2014-04-25 17:07] JMurk opened #83 "SSO Application - Report - Watershed"
Issue:  NAME OF WATERSHED and NAME OF STREAM OR WATER AFFECTED are not printing.  This could be due to a recent schema change (REC_WATERS changed to Long Integer).

Also, what is the difference between the two fields?  I think Watershed might actually be SEWERSHED.

![image](https://cloud.githubusercontent.com/assets/5805454/2803460/1c7bf100-cc9c-11e3-8c3c-c86edd12f713.png)

[2014-04-25 17:09] JMurk opened #84 "SSO Application - Report - Capitalize Labels"
Please make the following labels ALL CAPS:

![image](https://cloud.githubusercontent.com/assets/5805454/2803479/496a756a-cc9c-11e3-87a1-81b48c688d86.png)

[2014-04-25 18:06] kanglu666 commented on #80
if you want to show the address, then need to update the displayed field to the address field in the mxd

[2014-04-25 19:24] JMurk commented on #80
Done.  Confirmed complete.

[2014-04-25 19:24] #80 closed, assigned to JMurk

[2014-04-25 19:57] kanglu666 commented on #33
done

[2014-04-25 19:57] kanglu666 commented on #55
cancel button added

[2014-04-25 19:57] kanglu666 commented on #58
done

[2014-04-25 19:57] kanglu666 commented on #66
done

[2014-04-25 19:57] kanglu666 commented on #79
done

[2014-04-25 19:58] kanglu666 commented on #81
done

[2014-04-29 21:27] JMurk commented on #83
Waiting on some feedback from Amy here.... hold off for a second.

[2014-04-30 14:51] JMurk commented on #55
Confirmed complete.

[2014-04-30 14:51] #55 closed, assigned to JMurk

[2014-04-30 14:52] JMurk commented on #33
Confirmed complete.

[2014-04-30 14:52] #33 closed, assigned to JMurk

[2014-04-30 14:55] JMurk commented on #66
Confirmed complete.

[2014-04-30 14:55] #66 closed, assigned to JMurk

[2014-04-30 14:55] JMurk commented on #63
done.

[2014-04-30 14:55] #63 closed, assigned to JMurk

[2014-04-30 14:58] JMurk commented on #58
Need a save button on this page.

[2014-04-30 15:00] JMurk commented on #79
Confirmed complete.

[2014-04-30 15:00] #79 closed, assigned to JMurk

[2014-04-30 15:01] JMurk commented on #81
Confirmed complete.

[2014-04-30 15:01] #81 closed, assigned to JMurk

[2014-04-30 15:08] kanglu666 commented on #58
dont need the save button anymore. after making updates for the type and id, the system will automatically pick up the new values when the user save the SSO records.

[2014-04-30 15:13] JMurk commented on #58
I see... confirmed complete.

[2014-04-30 15:13] #58 closed, assigned to JMurk

[2014-04-30 17:23] JMurk commented on #26
I don't think this is necessary... cancelling and closing.

[2014-04-30 17:23] #26 closed, assigned to JMurk

[2014-05-06 12:41] JMurk opened #85 "SSO Application - Add Clean Out Location"
The SSO application should be able to capture the location (F, R, S) of the clean out in a separate field.

Resolution
1. Joe to add field to DB.  Be sure it uses CO_Location domain.
2. Lu to add field in application:  On features screen, under Overflowing feature.

Question:  Can we hide or grey out this field until Overflowing Feature = Clean Out?

[2014-05-06 12:44] JMurk opened #86 "SSO Application - Remove House Connections from Overflowing Features"
Please remove House Connections from the available list of Overflowing Features.  The should not be selected in the map nor available in the drop down.

[2014-05-06 12:55] JMurk opened #87 "SSO Application - Report - Labels"
Please add labels to the reports on the right-hand side of the header block:

24-Hour report:  "24-HOUR NOTICE"

5-Day report:  "FINAL REPORT"

[2014-05-06 13:08] JMurk opened #88 "SSO Application - Report - Add Reviewed Info"
Please add Reviewed By and Review Date to the bottom of the 5-day report ONLY.

![image](https://cloud.githubusercontent.com/assets/5805454/2889648/86108bea-d51f-11e3-9bb9-19a7946fc145.png)

[2014-05-06 13:23] JMurk opened #89 "SSO Application - Report - Changes to Section 1"
Please make the following changes in RED to section 1 of the report:

![image](https://cloud.githubusercontent.com/assets/5805454/2889749/38d48f96-d521-11e3-9118-2fb6d800d768.png)

[2014-05-06 14:31] kanglu666 commented on #86
done

[2014-05-08 17:41] JMurk commented on #86
Confirmed complete.

[2014-05-08 17:41] #86 closed, assigned to JMurk

[2014-05-08 17:42] JMurk commented on #83
Closing this as the design is up in the air.

[2014-05-08 17:42] #83 closed, assigned to tarheelgis

[2014-05-08 17:44] JMurk commented on #56
Not sure on this design yet.  Closing for now.

[2014-05-08 17:44] #56 closed, assigned to JMurk

[2014-05-08 17:44] JMurk commented on #35
Logged in issue #89

[2014-05-08 17:44] #35 closed, assigned to tarheelgis

[2014-05-08 18:13] JMurk opened #90 "SSO Application - Report - Map Section Heading"
Can the Map Section have a heading similar to SSO Photographs? The "Map of SSO xxx and any associated photos"  is unnecessary and can be removed.

![image](https://cloud.githubusercontent.com/assets/5805454/2919566/784b01ca-d6dc-11e3-967b-b12d8b800bc5.png)

[2014-05-08 18:14] JMurk opened #91 "SSO Aplication - Report - Map Question"
Is it possible to add any standard map elements to the map on the report (e.g scale bar, north arrow)?

[2014-05-09 17:53] tarheelgis commented on #91
We can add a textual scale like 1:43000 and a graphic north arrow below the map

[2014-05-09 17:56] tarheelgis commented on #85
Has this been added and does it go on the report?

[2014-05-09 17:59] tarheelgis commented on #90
Completed review when posted

[2014-05-09 18:05] tarheelgis commented on #89
What are the appropriate fields for Still active and pumping needed?

[2014-05-09 18:08] tarheelgis commented on #88
These are currently not fields in the DB and I cannot differentiate from the report side whether or not this is being pulled for a single or 5 day report. This may merit further discussions

[2014-05-09 18:10] tarheelgis commented on #87
Once again on this side of the report development we have not discussed any differences between 24 hour and 5 day reporting. We should discuss this further on how it is currently being addressed

[2014-05-09 18:11] tarheelgis commented on #84
Updated please review when changes post

[2014-05-09 18:14] JMurk commented on #85
Just added to the feature class with domain WW_VVT_CO_Location.  It does not need to go on the report.

Lu, please add to the application.

[2014-05-09 18:17] JMurk commented on #89
ACTIVE = Still active
ACTIVE_OBSERVED = Was an Active overflow observed
BYPASS_NEEDED = Bypass

[2014-05-09 18:18] JMurk commented on #88
5-Day report only.  DB updated at KCI.

[2014-05-09 19:00] tarheelgis commented on #70
Update please check when changes post

[2014-05-12 14:03] JMurk opened #92 "SSO Aplication - Report - Cause Fields Missing"
The report is missing Cause check boxes for Power Loss (CAUSE_PLOSS) and Vandalism (CAUSE_VANDAL).

Please add these to the report.

[2014-05-13 19:41] tarheelgis commented on #89
Completed check when changes post

[2014-05-13 20:10] tarheelgis commented on #69
![image](https://cloud.githubusercontent.com/assets/6514808/2963398/9096bcb8-dada-11e3-836b-7789b1b7137a.png)
Here are the fields in the report, they will not show time if there are no times included in the start_datetime. Is there a separate field to hold the times now?

[2014-05-14 19:52] kanglu666 commented on #85
CO_Location field has been added to the app, and the field will be only available when the overflowing feature type is clean out.

[2014-05-21 14:40] JMurk commented on #90
Confirmed complete.

[2014-05-21 14:40] #90 closed, assigned to JMurk

[2014-05-21 15:18] JMurk commented on #85
Confirmed complete.

[2014-05-21 15:18] #85 closed, assigned to JMurk

[2014-05-21 15:34] JMurk commented on #87
There will be two different reports.  Minor but important differences between the two.

[2014-05-21 17:05] JMurk commented on #89
Confirmed complete.

[2014-05-21 17:05] #89 closed, assigned to JMurk

[2014-05-21 17:05] JMurk commented on #92
Confirmed complete.

[2014-05-21 17:05] #92 closed, assigned to tarheelgis

[2014-05-21 17:25] JMurk commented on #84
Labels are not capitalized. Please revisit.

[2014-05-21 17:26] JMurk commented on #70
I still do not see other description. Am I missing something?

[2014-05-21 17:29] JMurk commented on #69
Time should be stored in the same field. Maybe ESRI doesn't like it? I will double check the geodatabase.

[2014-05-23 13:59] JMurk commented on #75
Closing this... will be tracked under the Utility Viewer Repository.

[2014-05-23 13:59] #75 closed, assigned to JMurk

[2014-05-23 14:00] JMurk commented on #74
Closing this... will be tracked under the Utility Viewer Repository.

[2014-05-23 14:00] #74 closed, assigned to JMurk

[2014-05-29 16:21] JMurk commented on #91
We will do without these items as I do not think they will be useful. Closing.

[2014-05-29 16:21] #91 closed, assigned to tarheelgis

[2014-06-03 16:02] tarheelgis commented on #82
should be completed now

[2014-06-03 16:02] tarheelgis commented on #88
should be complete

[2014-06-03 16:02] tarheelgis commented on #87
Should be complete

[2014-06-03 16:02] tarheelgis commented on #84
Should  be complete

[2014-06-03 16:02] tarheelgis commented on #70
should be complete

[2014-06-03 16:03] tarheelgis commented on #69
should be completed now. If the date and time is entered in the feature class it will show in the report.

[2014-06-05 18:43] JMurk opened #93 "SSO Application - Stream/Water Affected Capitalization"
Please make the options in the Stream/Water Affected dropdown in proper case to be consistent with the rest of the application.

![image](https://cloud.githubusercontent.com/assets/5805454/3192022/38974ab4-ece1-11e3-99eb-c29ca66f1660.png)

[2014-06-05 18:47] JMurk opened #94 "SSO Application - Evidence Only"
Please move the "Evidence of an Overflow Only" field under the "Was an Active Overflow Observed?"

![image](https://cloud.githubusercontent.com/assets/5805454/3192078/d77e24ea-ece1-11e3-9a0d-0694f305c8b6.png)

[2014-06-05 18:56] JMurk commented on #87
![image](https://cloud.githubusercontent.com/assets/5805454/3192166/fe1624bc-ece2-11e3-845e-e3bd733b9abb.png)

Header is cut off, please revise.

[2014-06-05 18:56] JMurk commented on #84
Confirmed complete.

[2014-06-05 18:57] JMurk commented on #82
Confirmed complete.

[2014-06-05 18:57] #82 closed, assigned to JMurk

[2014-06-05 18:57] JMurk commented on #70
Confirmed complete.

[2014-06-05 18:57] #70 closed, assigned to JMurk

[2014-06-05 19:04] JMurk commented on #88
Confirmed complete.

[2014-06-05 19:04] #88 closed, assigned to JMurk

[2014-06-05 19:04] JMurk commented on #69
Confirmed complete.

[2014-06-05 19:04] #69 closed, assigned to JMurk

[2014-06-05 20:24] tarheelgis commented on #87
completed please check when code posts

[2014-06-06 19:25] kanglu666 commented on #93
the following is what you give me from earlier email. Do you want to make any changes?
Code    Description
ARGO    ARGONNE RUN
ARMI    ARMISTEAD CREEK
BIDD    BIDDISON RUN
CHIN    CHINQUAPIN RUN
COLG    COLGATE CREEK
CRTB    CURTIS BAY
CRTC    CURTIS CREEK
DEAD    DEAD RUN
GUNP    GUNPOWDER FALLS
GWYN    GWYNNS FALLS
HERR    HERRING RUN
HARB    INNER HARBOR
JF  JONES FALLS
LRR LOCH RAVEN RESERVOIR

[2014-06-06 19:37] kanglu666 commented on #94
done

[2014-06-09 14:40] JMurk opened #95 "SSO Application - Cancel Button Capitalization"
Please capitalize "Cancel" for all pop up windows that have Yes/No/Cancel buttons.

![image](https://cloud.githubusercontent.com/assets/5805454/3217871/0786b63e-efe4-11e3-960e-e54755e9ff1e.png)

[2014-06-09 14:44] JMurk commented on #94
Can you add a "?" to the end of the label?

[2014-06-09 14:45] JMurk commented on #93
I want the description values to be in proper case.  Example:  DEAD RUN should be Dead Run.

[2014-06-10 15:35] kanglu666 commented on #95
done

[2014-06-10 15:35] kanglu666 commented on #94
done

[2014-06-10 15:35] kanglu666 commented on #93
done

[2014-06-13 13:19] JMurk commented on #95
Confirmed complete.

[2014-06-13 13:19] #95 closed, assigned to JMurk

[2014-06-13 13:24] JMurk commented on #94
Confirmed complete,

[2014-06-13 13:24] #94 closed, assigned to JMurk

[2014-06-13 13:25] JMurk commented on #93
Confirmed complete.

[2014-06-13 13:25] #93 closed, assigned to JMurk

[2014-06-13 13:26] JMurk commented on #87
Confirmed complete.

[2014-06-13 13:26] #87 closed, assigned to tarheelgis

[2014-06-13 19:30] JMurk opened #96 "SSO Application - 5-Day Email - Wrong Link"
Issue:  The 5-Day report email is linking to the 24-hour report.

Resolution.  Please update so that the 5-Day email links to the 5-day report.

[2014-06-16 16:21] JMurk opened #97 "SSO Application - Overflow Type - Unrequire"
Please make Overflow Type nullable.  Be sure to remove the \* from the field label as well.

[2014-06-16 18:32] JMurk opened #98 "SSO Application - Require Photos"
Please update the application so that there must be a minimum of two photos associated to the SSO before it is submitted.

When there is not photos, prompt the following message:

"Please add arrival and departure photos before e-mailing the report"

[2014-06-16 19:10] JMurk opened #99 "SSO Application - Reorganize SSO Details"
We need to reorganize the Affected Water section of the SSO details form.  We will actually split it into two sections.  Here is the how the fields should be ordered and how some of the fields should be populated/controlled.

![image](https://cloud.githubusercontent.com/assets/5805454/3291946/bdd55eae-f589-11e3-8067-4e15595780e0.png)

[2014-06-16 19:27] JMurk opened #100 "SSO Application - Disable Fields when Evidence Only = Yes"
When the "Evidence of an Overflow Only?" = Yes, disable the following fields:

-Start date/time
-End date/time
-Duration
-Estimated Flow
-Estimated Quantity

Also, be sure that the report can be submitted when these fields are not populated.  The still need to be required when Evidence= No.

[2014-06-16 19:33] JMurk opened #101 "SSO Application - Add Observed Fields"
Add fields:

-Observed By
-Observed Date/Time

[2014-06-18 13:09] JMurk opened #102 "SSO Application - Reports - Occurrence Misspelled"
Issue:  The work "Occurrence" is misspelled on both reports multiple times.

![image](https://cloud.githubusercontent.com/assets/5805454/3313854/ae1b9a62-f6e9-11e3-8c45-785c7949ee46.png)

Resolution:  Please update the reports with the correct spelling of Occurrence.

[2014-06-18 13:21] JMurk opened #103 "SSO Application - Report - Center Title Block"
Issue:  After adding the 24-Hour and Final report labels, the title block is not centered.

Resolution:  Is there a way to center the main title block?  If so, please do.

[2014-06-18 13:24] JMurk opened #104 "SSO Application - Report - Watershed Not Printing"
Issue:  The "Name of Watershed" field is not printing any value.

![image](https://cloud.githubusercontent.com/assets/5805454/3314013/e4ba69d4-f6eb-11e3-95a1-ac051ff66739.png)

Resolution:  I suspect there is a discrepancy between the City and KCI databases, but please investigate and resolve accordingly.

[2014-06-18 18:56] kanglu666 commented on #96
fixed

[2014-06-19 13:58] kanglu666 commented on #99
please let me know once db schema updated. then i will update the layout

[2014-06-19 15:36] JMurk commented on #96
Confirmed complete.

[2014-06-19 15:36] #96 closed, assigned to JMurk

[2014-06-19 15:43] kanglu666 commented on #97
done, clear browser cache test

[2014-06-19 15:43] kanglu666 commented on #98
updated

[2014-06-19 16:13] JMurk commented on #98
I was able to submit a report without any photos attached.

[2014-06-19 16:17] JMurk commented on #98
Confirmed complete.

[2014-06-19 16:17] #98 closed, assigned to kanglu666

[2014-06-19 16:17] JMurk commented on #97
Confirmed complete.

[2014-06-19 16:17] #97 closed, assigned to JMurk

[2014-06-20 12:26] JMurk commented on #101
Complete.

[2014-06-20 12:26] #101 closed, assigned to JMurk

[2014-06-20 12:27] JMurk commented on #99
Schema Updated:

OBSERVED_BY
OBSERVED_DATETIME

[2014-06-20 15:18] kanglu666 commented on #99
updated, clear browser cache before testing

[2014-06-20 15:19] kanglu666 commented on #100
updated. please test

[2014-06-20 16:23] JMurk opened #105 "SSO Application - Occurrence Misspelled"
On the list of SSOs, please fix the spelling of Occurrence.

![image](https://cloud.githubusercontent.com/assets/5805454/3342814/0fc2eb2c-f897-11e3-946e-7540d3ef4cb2.png)

Also needs to be fixed on SSO Details:

![image](https://cloud.githubusercontent.com/assets/5805454/3342824/28c60a28-f897-11e3-83e4-3151fb94a308.png)

[2014-06-20 19:17] JMurk opened #106 "SSO Application - Missing Overflowig Feature Types"
Issue:  It appears as if there are some values missing from the Overflowing feature drop down.  Please make sure that all values in the domain are also in the application drop down.

![image](https://cloud.githubusercontent.com/assets/5805454/3344796/79bf6ef2-f8af-11e3-9236-af7b4e73c7b2.png)

[2014-06-20 20:04] kanglu666 commented on #106
when you create an new SSO, you can only identify these four layers, to get the associate overflowing feature. that's y the drop down just apply these four layers.

[2014-06-23 13:33] JMurk commented on #106
Please add Sump Pump to the list.  There is not a layer for sump pumps, but it can still be an overflowing feature type.

[2014-06-23 13:45] JMurk commented on #100
Confirmed complete.

[2014-06-23 13:45] #100 closed, assigned to JMurk

[2014-06-23 13:48] JMurk commented on #99
Confirmed complete.

[2014-06-23 13:48] #99 closed, assigned to JMurk

[2014-06-23 14:44] JMurk opened #107 "SSO Application - Assigned User Confirmation Modal Screen"
Issue:  There are numerous grammatical errors on the assigned user confirmation message modal screen.

![image](https://cloud.githubusercontent.com/assets/5805454/3359082/af4bcc1e-fae4-11e3-8f4c-fdc8ea8918e2.png)

Resolution:  Please update the message to read  "The SSO has been successfully assigned to the selected user."

[2014-06-24 19:31] kanglu666 commented on #107
updated

[2014-06-24 19:43] kanglu666 commented on #105
updated

[2014-06-27 15:05] JMurk commented on #107
Please add this pop-up when assigning to a user of an existing SSO

[2014-06-27 15:44] JMurk commented on #105
Does not appear to be changed after cache cleared.

[2014-07-02 19:51] tarheelgis commented on #103
Completed please test when posted.

[2014-07-02 19:52] tarheelgis commented on #102
Completed please check when changes post

[2014-07-02 20:24] tarheelgis commented on #104
Updated check when changes post

[2014-07-03 12:19] JMurk commented on #105
Found another location where this is misspelled.  Contact info screen.

![image](https://cloud.githubusercontent.com/assets/5805454/3469308/43794a6e-02ac-11e4-953f-b221ec5918df.png)

[2014-07-03 17:05] JMurk opened #108 "SSO Application - Clear Graphics - Does Not Clear Locate Pushpin"
Please extend the clear graphics functionality to clear the blue push pin that is created as a result of an address location.

![image](https://cloud.githubusercontent.com/assets/5805454/3473126/35f42a08-02d4-11e4-824a-6b37221852fb.png)

[2014-07-03 18:24] JMurk opened #109 "SSO Application - Observed By - Use Full Name"
Issue: Observed By is auto-populating with the username of the logged in user.

![image](https://cloud.githubusercontent.com/assets/5805454/3474067/35544abe-02df-11e4-9fd0-5cb61f899af9.png)

Resolution:  Please auto-populate with the FULLNAME of the logged in user.

[2014-07-05 18:16] kanglu666 commented on #106
what field should be the overflow id for sump pump type?
create an new field called "OVERFLOW_SP_ID" in db?

[2014-07-05 19:04] kanglu666 commented on #105
updated

[2014-07-05 19:06] kanglu666 commented on #107
updated for existing sso from inbox page.
one thing to make sure, the send email to individual assigned to user, will only happen when the SSO status is in progress. that's the original design.

[2014-07-05 19:06] kanglu666 commented on #109
updated

[2014-07-05 19:07] kanglu666 commented on #108
updated

[2014-07-07 12:20] JMurk commented on #106
There is not a feature class for sump pumps, therefore there is no ID.  The user will only select this type from the Overflowing feature field on the "Features" page.

[2014-07-07 13:16] JMurk opened #110 "SSO Application - Feature ID Delete"
When a user changes the Feature Type or Choke Type from the value that was selected in the map, can the application delete the Feature ID as soon as the change is made?

[2014-07-07 13:42] JMurk opened #111 "SSO Application - Existing Images - Refresh Button?"
What does this button do?  If it doesn't have any function, please remove it from the UI.

![image](https://cloud.githubusercontent.com/assets/5805454/3495877/8e06277c-05dc-11e4-8919-307d47383a39.png)

[2014-07-07 14:02] JMurk opened #112 "SSO Application - Black Text/Brown Background"
Please fix **ALL** modal screen messages to have white text on top of the brown backgrounds.

![image](https://cloud.githubusercontent.com/assets/5805454/3496162/419a5ff4-05df-11e4-9185-eeaa525d3b2c.png)

[2014-07-07 14:58] JMurk opened #113 "SSO Application - Assigned To Conformation Message Typo"
Issue:  When Assinged To is null, the pop-up message stating the field is required has a minor typo.

![image](https://cloud.githubusercontent.com/assets/5805454/3496925/11c9043a-05e7-11e4-8b32-2697a079f085.png)

Resolution:  Please change "TO" to "To"

[2014-07-07 15:05] JMurk opened #114 "SSO Application - Assigned To Dropdown is Blank"
Issue:  There are no values in the Assigned To dropdown list. I'm guessing this stems from changing the application to point to the cityUsers DB.

![image](https://cloud.githubusercontent.com/assets/5805454/3497030/e787e05a-05e7-11e4-9034-86d693b171b6.png)

Resolution:  Please re-point the Assigned To field to the proper table/column.

[2014-07-07 15:57] JMurk opened #115 "SSO Application - Discrepancy Scale Warning - Message Format"
Issue:  The scale warning message for SSOs and Discrepancies differ in format.

![image](https://cloud.githubusercontent.com/assets/5805454/3497816/1c081b04-05ef-11e4-8dcb-31a98ca49e58.png)

![image](https://cloud.githubusercontent.com/assets/5805454/3497822/26dd90ea-05ef-11e4-93a9-3d4701a7349f.png)

Resolution:  Remove the discrepancy message shown above and repoint the scale warning to the SSO m

[2014-07-08 15:00] kanglu666 commented on #106
done

[2014-07-08 15:00] kanglu666 commented on #110
done

[2014-07-08 15:00] kanglu666 commented on #111
done

[2014-07-08 15:01] kanglu666 commented on #112
done

[2014-07-08 15:01] kanglu666 commented on #114
updated, now this field is hitting cityusers data.

[2014-07-08 15:02] kanglu666 commented on #115
done

[2014-07-08 16:05] JMurk commented on #115
Confirmed complete.

[2014-07-08 16:05] #115 closed, assigned to JMurk

[2014-07-08 16:05] JMurk commented on #114
Confirmed complete.

[2014-07-08 16:05] #114 closed, assigned to JMurk

[2014-07-08 16:06] JMurk commented on #112
Confirmed complete.

[2014-07-08 16:06] #112 closed, assigned to JMurk

[2014-07-08 16:06] JMurk commented on #111
Confirmed complete.

[2014-07-08 16:06] #111 closed, assigned to JMurk

[2014-07-08 16:07] JMurk commented on #110
Confirmed complete.

[2014-07-08 16:07] #110 closed, assigned to JMurk

[2014-07-08 16:26] JMurk commented on #108
Confirmed complete.

[2014-07-08 16:26] #108 closed, assigned to JMurk

[2014-07-08 16:36] JMurk commented on #107
Still not working from the inbox.  Please revisit.

[2014-07-08 16:37] JMurk commented on #106
Confirmed complete.

[2014-07-08 16:37] #106 closed, assigned to JMurk

[2014-07-08 16:37] JMurk commented on #109
Confirmed complete.

[2014-07-08 16:37] #109 closed, assigned to JMurk

[2014-07-08 16:51] JMurk commented on #105
Still not correct in any location    "Occurrence"

[2014-07-08 17:48] kanglu666 commented on #105
done

[2014-07-08 17:49] kanglu666 commented on #107
done

[2014-07-08 17:49] kanglu666 commented on #113
done

[2014-07-08 19:21] JMurk commented on #113
Complete.

[2014-07-08 19:21] #113 closed, assigned to JMurk

[2014-07-08 19:22] JMurk commented on #107
Confirmed complete.

[2014-07-08 19:22] #107 closed, assigned to JMurk

[2014-07-08 19:22] JMurk commented on #105
Confirmed complete.

[2014-07-08 19:31] JMurk commented on #104
Confirmed complete.

[2014-07-08 19:31] #104 closed, assigned to JMurk

[2014-07-08 19:31] JMurk commented on #103
Confirmed complete.

[2014-07-08 19:31] #103 closed, assigned to JMurk

[2014-07-08 19:31] JMurk commented on #102
Confirmed complete.

[2014-07-08 19:31] #102 closed, assigned to JMurk

[2014-07-08 19:34] JMurk opened #116 "SSO Application - Move Reasons Column Slightly"
Please move the GREASE, INFILTRATION/INFLOW, TRASH column to the left slightly.

![image](https://cloud.githubusercontent.com/assets/5805454/3515516/ae9bdc48-06d6-11e4-9c11-bb5cdadb76e9.png)

[2014-07-08 19:35] JMurk commented on #84
Still an issue on the 5-Day report:

![image](https://cloud.githubusercontent.com/assets/5805454/3515554/ff521224-06d6-11e4-8c93-9778d5f1b7f9.png)

[2014-07-10 12:55] JMurk commented on #116
Determined that the LOE on this would not be worth it for now.  Tabling.

[2014-07-10 12:55] #116 closed, assigned to tarheelgis

[2014-07-10 12:56] JMurk opened #117 "SSO Application - Discrepancies - Add Photos"
Please add a photo attachment function within the discrepancy details page.  We will build out here, test, then move to other mobile applications.

[2014-07-10 13:00] JMurk opened #118 "SSO Application - Repoint Authorization"
Repoint the authorization to the cityUsers database within dpw-sql-srv.

We will use this as a test case for the portal page and admin tool.  Once approved, we should be clear to proceed with repointing other applications.

[2014-07-11 14:32] kanglu666 commented on #118
SSO app is now using authorization from portal admin web api.

[2014-07-11 20:00] kanglu666 commented on #117
adding photos function has been added in SSO app. please test

[2014-07-14 18:06] JMurk commented on #118
Confirmed complete.

[2014-07-14 18:06] #118 closed, assigned to JMurk

[2014-07-14 18:22] JMurk commented on #117
No longer populating DATE_LOGGED on the backend.  Please fix.

[2014-07-14 18:29] JMurk commented on #84
Confirmed complete.

[2014-07-14 18:29] #84 closed, assigned to tarheelgis

[2014-07-16 13:39] rssidlowski commented on #105
When I run in Chrome, I still see the 'Occurrance' in the SSO details.

![occurranceondetails](https://cloud.githubusercontent.com/assets/5039052/3599443/b02afb02-0cee-11e4-9f91-dba49783a5c7.GIF)

[2014-07-16 14:04] rssidlowski commented on #105
Never mind.  Cleared cache and is working fine.

[2014-07-16 14:04] #105 closed, assigned to JMurk

[2014-07-16 14:13] kanglu666 commented on #117
fixed

[2014-07-16 15:51] rssidlowski opened #119 "Contact information for DOE needs to be updated"
Issue: contact information for the Dept of the Env has a name spelled incorrectly:
Mr. Dave Lyans should Mr. Dave Lyons

Add a space after the phone number and before the left parentheses.
currently:  410-537-3510(After
change to: 410-537-3510 (After

[2014-07-16 16:24] rssidlowski opened #120 "SSO Application: SSO Details change verbiage on end date warning message"
Issue: when enter an end date earlier than a start date for SSO Details, the error message displayed is "End Date must larger than Start Date".
Add the word "be" after must:  "End Date must be larger than Start Date".

[2014-07-16 16:27] rssidlowski opened #121 "SSO Application: SSO Details check for end date in future"
Issue: when adding a new SSO the system allows user to add an end date and time in the future.
Add a check to make sure the end date and time is not past the current system date/time.

[2014-07-16 16:36] rssidlowski opened #122 "SSO Application: Associated Features: Clean out location remains if change from Clean Out"
Steps to recreate:
1) enter new SSO
2) click on Features
3) select feature type = Clean out
4) select Clean out location = Rear
5) change feature type = Broken pipe

Expected Result:
Clean out location should be blank - but still has the 'Rear'
Clean out location should be uneditable - correct

[2014-07-16 16:41] rssidlowski opened #123 "SSO Application: Change order of required fields"
Issue: when creating a new SSO and not entering all required fields and attempt to save, get prompted to enter required field.

Expected response: prompt for each required field in the order they are displayed on the screen.
Actual response: prompts in reverse order for the required fields.

Could the system also place the cursor in the missing field location?

Also, on each prompt for missing fie

[2014-07-16 16:49] rssidlowski opened #124 "SSO Application: SSO Details should not email without missing clean out location"
Issue: system should not email a report if overflowing feature type -  "clean out" and the clean out location is not selected

Steps to recreate:
1) enter new sso
2) click the features button
3) select feature type = "clean out"
4) don't select clean out location
5) hit back arrow
6) save
7) email

Expected response: display a message: "Must enter clean out location before emailing report"
Actual

[2014-07-16 16:55] rssidlowski opened #125 "SSO Application: Discrepancy not getting saved"
Issue: added new discrepancy and attempt to view but not found

Steps to recreate:
1) click on add discrepancy button at top
2) add discrepancy details and submit
3) go back to map
3) discrepancies at bottom of map is still grayed out

expect to see: discrepancies button clickable.

[2014-07-17 16:09] JMurk opened #126 "SSO Application - Reports - Header Changes"
Per stakeholder feedback, change the header to read:

CITY OF BALTIMORE
DEPARTMENT OF PUBLIC WORKS
200 Holliday St
Baltimore, Maryland 21202

Also, in the last line of the report "Separate Sewer System" should have all lowercase s

[2014-07-17 16:16] JMurk opened #127 "SSO Application - Reports - Time of Discharge Labels"
Please update the "TIME OF DISCHARGE" labels to INCLUDE "/TIME" at the end.

So it should be START DATE/TIME: and END DATE/TIME:

![image](https://cloud.githubusercontent.com/assets/5805454/3615956/be6c2468-0dcd-11e4-876d-73a1fb437e80.png)

[2014-07-17 17:14] JMurk commented on #117
Confirmed complete.

[2014-07-17 17:14] #117 closed, assigned to JMurk

[2014-07-24 14:53] JMurk opened #128 "SSO Application - Delete Permissions"
Issue:  Users with a permission of "Editor" are able to delete SSOs that have been submitted.  They should only be allowed to delete an SSO when it is assigned to them AND is In Progress.

Once an SSO is submitted, it should not be able to be deleted by ANYONE.  Only In Progress SSOs should be deleted.

Once the 5-day report has been submitted, it should not be editable by anyone.

Resolution:  Re

[2014-07-25 12:15] tarheelgis commented on #127
Completed, please test when changes post

[2014-07-25 12:16] tarheelgis commented on #126
Completed please test when changes post

[2014-07-28 18:35] kanglu666 commented on #119
updated

[2014-07-28 18:36] kanglu666 commented on #120
updated

[2014-07-28 18:37] kanglu666 commented on #122
updated

[2014-07-28 18:37] kanglu666 commented on #124
updated

[2014-07-28 18:40] kanglu666 commented on #125
1: turn on the discrepancy layer from Setting tab.
2: add discrepany, then the new added one will show on map.
3:discrepancies at bottom of map will be grayed out after new added.

Currently, we have no workflow/design to view the details of the new added discrepancy.

[2014-07-28 18:46] kanglu666 commented on #128
as we discussed before, 5-day report also can be edit, and the report will pick up the latest one.

right now, admin and reviewer have permission to delete submitted SSOs.
and if the assigned to user = the current log in user, then he has permission to delete the selected submitted SSO.

[2014-07-28 18:49] kanglu666 commented on #123
put this as future enhancement: reorder prompt for required field.

Could the system also place the cursor in the missing field location?
Currently, we have no way to do thisfunction.

[2014-08-18 12:23] JMurk opened #129 "SSO Application - Recently Reviewed not Loading"
Issue:  When tapping the "Load recently reviewed SSOs" button in the inbox, no results are returned.

Please investigation and resolve accordingly.

[2014-08-18 12:25] JMurk commented on #127
Confirmed complete.

[2014-08-18 12:25] #127 closed, assigned to tarheelgis

[2014-08-18 12:27] JMurk commented on #126
Confirmed complete.

[2014-08-18 12:27] #126 closed, assigned to tarheelgis

[2014-08-18 12:28] JMurk commented on #119
Confirmed complete.

[2014-08-18 12:28] #119 closed, assigned to rssidlowski

[2014-08-18 12:29] JMurk commented on #125
Non issue - closing.

[2014-08-18 12:29] #125 closed, assigned to rssidlowski

[2014-08-18 12:33] JMurk commented on #124
This is still an issue when a clean out is selected from the map as an overflowing feature.  If the user never returns to the "Features" page, the system will never require them to populate the field.

[2014-08-18 12:36] JMurk commented on #128
Once an SSO is submitted, it should not be able to be deleted by ANYONE. Only In Progress SSOs should be deleted.

Please change the permissions accordingly.

[2014-08-18 12:37] JMurk commented on #123
Closing.

[2014-08-18 12:37] #123 closed, assigned to rssidlowski

[2014-08-18 12:40] JMurk commented on #122
Confirmed complete.

[2014-08-18 12:40] #122 closed, assigned to rssidlowski

[2014-08-18 12:41] JMurk commented on #120
Confirmed complete.

[2014-08-18 12:41] #120 closed, assigned to rssidlowski

[2014-08-26 14:16] JMurk opened #130 "SSO Application - Report - Add Overflow Type (5-Day ONLY)"
Please add Overflow Type (Wet/Dry/Unknown) to the 5-day report.  Maybe under EST. OVERFLOW (GPM) would be best.

![image](https://cloud.githubusercontent.com/assets/5805454/4045629/9ad9f598-2d2b-11e4-8eb5-feceecf151dd.png)

[2014-08-26 14:20] JMurk opened #131 "SSO Application - Add Field - CSR Creation Time"
1. Add a field to the SSO Feature Class of CSR Creation Time (Joe).
2. Add field ( 311 CSR Creation Time) to SSO Application under SSO Details.  It should be placed at the bottom, above Service Request Type (Lu).

![image](https://cloud.githubusercontent.com/assets/5805454/4081395/53f7a360-2ee7-11e4-82fc-1052447a30ce.png)
1. Once the field is added to the database, it should be added to BOTH repor

[2014-08-28 19:42] JMurk commented on #131
The field has been added in both the dev and production database.  Lu, please add to the application then assign to Eric.

[2014-09-03 19:25] tarheelgis commented on #130
Added, please check when changes post

[2014-09-04 18:05] kanglu666 commented on #131
done on the UI side.

[2014-09-04 18:06] kanglu666 commented on #121
done, please test

[2014-09-04 18:07] kanglu666 commented on #124
done, please test

[2014-09-04 18:07] kanglu666 commented on #128
updated, all 5day sso will not be editable.

[2014-09-04 18:09] kanglu666 commented on #129
Load recently reviewed SSOs:
right now it will only load the 5 days report with SSO date later than 01/01/2014.

[2014-09-04 20:35] JMurk commented on #131
Confirmed complete.

[2014-09-04 20:35] #131 closed, assigned to JMurk

[2014-09-04 20:39] JMurk commented on #129
Closing

[2014-09-04 20:39] #129 closed, assigned to JMurk

[2014-09-04 20:42] JMurk commented on #130
Confirmed complete.

[2014-09-04 20:42] #130 closed, assigned to JMurk

[2014-09-04 20:43] JMurk commented on #128
I was still able to edit a 5 day report.

[2014-09-04 20:47] JMurk commented on #124
Confirmed complete.

[2014-09-04 20:47] #124 closed, assigned to JMurk

[2014-09-04 20:48] JMurk commented on #128
Scratch that... this was delete permissions, not edit permissions. Closing.

[2014-09-04 20:50] JMurk commented on #121
Please change the prompted message
![image](https://cloud.githubusercontent.com/assets/5805454/4156499/fa28a4fe-3474-11e4-971e-942e3e9c629f.png)

to read:
"End date cannot be in the future!"

[2014-09-04 21:10] kanglu666 commented on #121
done

[2014-09-06 16:26] JMurk opened #132 "SSO Application - Assigned To Not Populating Correctly"
Issue:  When creating a new SSO, the Assigned To field is populating with "Neil Kang".  It should be the logged in user.

Resolution:  Please Investigate and resolve accordingly.  Maybe this was never repointed to the cityUsers database?

[2014-09-06 16:28] JMurk opened #133 "SSO Application - After Save, Stuck on Loading"
Issue:  When trying to save a New SSO, the application sticks on the Loading... screan.  This likely has to do with the schema changes/updates.

![image](https://cloud.githubusercontent.com/assets/5805454/4175721/e43286dc-35e2-11e4-8c9a-f9f1dca71ca8.png)

Resolution:  Please investigate and resolve accordingly.

[2014-09-06 18:18] kanglu666 commented on #132
fixed, i forgot to remove the hard coded value for my local testing.
should be working correctly now for both prod and dev, please test

[2014-09-06 18:19] kanglu666 commented on #133
fixed, please test.

[2014-09-07 23:20] JMurk opened #134 "SSO Application - Add Unknown Cause Toggle"
Please add a toggle in the application for CAUSE_UNKNOWN.  The field should be labeled "Unknown" and controlled with a toggle (default to no)

Place it after Infiltration/Inflow and before Other.

![image](https://cloud.githubusercontent.com/assets/5805454/4180074/7bcd9466-36e5-11e4-9a4d-540d507c9805.png)

[2014-09-07 23:20] JMurk commented on #133
Confirmed complete.

[2014-09-07 23:20] #133 closed, assigned to JMurk

[2014-09-07 23:21] JMurk commented on #132
Confirmed complete.

[2014-09-07 23:21] #132 closed, assigned to JMurk

[2014-09-07 23:37] JMurk commented on #121
You are missing the word "the".  Please fix and push to prod.

[2014-09-09 20:12] kanglu666 commented on #121
fixed in both prod and dev

[2014-09-09 20:13] kanglu666 commented on #134
CAUSE_UNKNOWN field has been added in to app for both prod and dev, please test

[2014-09-10 13:50] JMurk commented on #134
Please update the current Cause check to include this as a valid option.  When trying to email an SSO with only this caused toggled, the system throws a message explaining that the user needs to select at least 1.  Also, if unknown is toggled, no others should be toggled.  Please add that check.

![image](https://cloud.githubusercontent.com/assets/5805454/4223930/ae8b58a6-3920-11e4-9e53-7f542534a1

[2014-09-10 13:56] JMurk commented on #121
Confirmed complete.

[2014-09-10 13:56] #121 closed, assigned to JMurk

[2014-09-10 14:05] JMurk commented on #128
Just re-read the original issue entry.  SSOs that have 5-Day reports been submitted should not be editable by anyone in the application.  Please adjust.

[2014-09-10 14:35] JMurk opened #135 "SSO Application - Inbox Set to Neil Kang"
Issue:  The inbox is permanently displaying "Neil Kang" as the user.  It is not adjusting to the logged in user.

Resolution:  Please investigate and resolve accordingly.

**This issue persists in both Dev and Production**

[2014-09-10 14:43] kanglu666 commented on #135
fixed, clear cache and test

[2014-09-10 14:52] JMurk commented on #135
Confirmed complete in both locations.

[2014-09-10 14:52] #135 closed, assigned to JMurk

[2014-09-10 19:15] JMurk opened #136 "SSO Application - Overflow Type Values"
Please update the Valid Values in the Overflow Type dropdown to:

-Dry Weather
-Wet Weather
-Unknown

![image](https://cloud.githubusercontent.com/assets/5805454/4223759/d250aa22-391e-11e4-9af4-137b966c8db8.png)

[2014-09-10 19:23] JMurk opened #137 "SSO Application - 311 CSR Creation Time Not Saving"
**Issue**:  The 311 CSR Creation Time is not saving in **production** (It is working is dev). This is causing the  application to get stuck on the loading screen.

![image](https://cloud.githubusercontent.com/assets/5805454/4223861/d3a2c68e-391f-11e4-868e-47f8834d83d8.png)

**Resolution**: Please investigate and resolve accordingly.

[2014-09-10 19:26] JMurk opened #138 "SSO Application - Photos Not Loading"
**Issue**:  Uploaded photos are not being displayed as thumbnails.  Not sure if they are even being uploaded.

![image](https://cloud.githubusercontent.com/assets/5805454/4223908/54e889a4-3920-11e4-96a6-e48fa8d20158.png)

**Resolution**: Please investigate and resolve accordingly

[2014-09-10 19:42] JMurk opened #139 "SSO Application - SSO ID Trigger Not Working"
**Issue**:  The SSO ID is not populating and causing the application to get stuck on the loading screen.

![image](https://cloud.githubusercontent.com/assets/5805454/4224133/80c06aae-3922-11e4-8029-c9ba0365bb17.png)

**Resolution**: Please investigate the SSOID trigger.

[2014-09-10 19:51] kanglu666 commented on #137
fixed, please clear cache and test.

[2014-09-10 19:53] kanglu666 commented on #139
fixed, please let me know each time when you re-do the sso versionning, that will need rebuild the trigger

[2014-09-10 19:54] kanglu666 commented on #138
because the SSO you created missing SSOID without right trigger in place.
image will not load correctly. should be fine now

[2014-09-10 20:13] kanglu666 commented on #128
Joe will verify with city people about this.

[2014-09-10 20:13] kanglu666 commented on #136
done

[2014-09-10 20:45] kanglu666 commented on #134
CAUSE_UNKNOWN has been added to the cause check function.

[2014-09-11 12:44] JMurk opened #140 "SSO Application - Add Initiated Fields"
Add a fields for Initiated_By and Initiated_Date.  These should be automatically populated with the username of the logged in user and the system date/time.

Joe will add the fields to the schema and Lu will add the populates to the trigger.

[2014-09-11 12:50] JMurk opened #141 "SSO Application - Date/Time Submitted"
Please add a field to the SSO History Log table that stores the date & time of when the report was submitted.  This should auto populate with the system time when the user taps E-mail.

Lu-  I know we discussed just using EDIT_DATE, but I think that we need something more explicit.  Please try to implement the above in dev.

[2014-09-11 12:55] JMurk opened #142 "SSO Application - Trigger Populate LAST_USER and EDIT_DATE"
Please add LAST_USER and EDIT_DATE to the trigger.  Both fields should auto populate/update upon every update to the SSO record.

Please implement on dev first.

[2014-09-11 13:57] JMurk opened #143 "SSO Application - Preparer Title"
Please use the cityUsers.dbo.User.Title field to populate the PREPARER_TITLE field.  The Title field has been added to the development database only.

[2014-09-11 13:59] JMurk opened #144 "SSO Application - Sort Assigned To Dropdown"
**Issue**:  The list of values in the Assign To drop down box is not sorted.

![image](https://cloud.githubusercontent.com/assets/5805454/4234964/d8faf07e-39bb-11e4-8dda-a78d97de4c15.png)

**Resolution**:  Please sort alphabetically ascending (A-Z).

[2014-09-11 14:21] JMurk opened #145 "SSO Application - Editor Cannot Send 24-Hour Report"
**Issue**:  Users in the Editor role cannot submit a report.

**Resolution**:  Please update so that Editors may submit the 24-hour report only.

[2014-09-11 14:25] JMurk opened #146 "SSO Application - Change Modal Screen Message Type"
Please change the 24-hour success and 5-Day success messages to the browser-style messages.  The modal screens have a tendency to get "stuck" on the screen.

![image](https://cloud.githubusercontent.com/assets/5805454/4235448/6c9e6966-39bf-11e4-82df-a55c674971f5.png)

[2014-09-11 17:40] kanglu666 commented on #146
done for dev, please test

[2014-09-11 17:40] kanglu666 commented on #145
done for dev, please test

[2014-09-11 17:40] kanglu666 commented on #144
done at dev, please test

[2014-09-11 17:45] kanglu666 commented on #143
done at dev, please test.
ps: store procedure for report also updated

[2014-09-11 17:46] kanglu666 commented on #142
done at dev, handle this at client side. please test

[2014-09-11 17:49] kanglu666 commented on #141
SSO History Log table must have the same schema as the SSO feature class,
since EDIT_DATE in the SSO History Log table will always populated the report submitted date. we can just use it,add another field is a waste.

[2014-09-11 18:53] JMurk commented on #146
Confirmed complete in dev, ready for push to prod.

[2014-09-11 18:54] JMurk commented on #145
Confirmed complete in dev, ready for push to prod.

[2014-09-11 19:00] JMurk commented on #144
Confirmed complete in dev, ready for push to prod

[2014-09-11 19:09] JMurk commented on #143
This is still using the users role.  Please update.

[2014-09-11 19:11] JMurk commented on #142
Confirmed complete on dev, ready for push to prod

[2014-09-11 19:11] kanglu666 commented on #143
by default, if the user has no title in the user table. system will use  "user"  as title.

[2014-09-11 19:19] JMurk commented on #139
Confirmed complete.  Closing.

[2014-09-11 19:19] #139 closed, assigned to JMurk

[2014-09-11 19:21] JMurk commented on #138
Confirmed complete.

[2014-09-11 19:21] #138 closed, assigned to JMurk

[2014-09-11 19:22] JMurk commented on #137
Confirmed complete.

[2014-09-11 19:22] #137 closed, assigned to JMurk

[2014-09-11 19:23] JMurk commented on #136
Confirmed complete.

[2014-09-11 19:23] #136 closed, assigned to JMurk

[2014-09-11 19:27] JMurk commented on #134
Did you update for the 5-day report submittal check as well?  I'm still getting the error there?

[2014-09-11 20:11] JMurk commented on #143
Confirmed complete for dev, ready fro push to prod.

[2014-09-11 20:20] JMurk opened #147 "SSO Application - Preparer Name"
Please change the auto populate of PREPARER to be the Full Name instead of the User Name.  Update on Dev first.

Also be sure that REVIEWED_BY is storing Full Name.

[2014-09-12 13:46] kanglu666 commented on #147
updated at dev

[2014-09-12 13:47] kanglu666 commented on #134
fixed, got an extra white space at the end of  the word "CAUSE_UNKNOWN"...
please test at dev

[2014-09-12 15:31] JMurk commented on #134
Confirmed complete on dev, ready for push to prod.

[2014-09-12 15:36] JMurk commented on #128
Reviewers will not be able to edit or submit after the 5-day report has been submitted.

Admin will be able to edit and submit ONE more 5-day report.  There can not be more than two 5-day reports submitted.

Please adjust permissions accordingly.

[2014-09-12 15:43] JMurk commented on #147
Confirmed complete on dev, ready for push to prod.

[2014-09-12 15:44] JMurk commented on #141
Ok, for now.  May revisit in the future.

[2014-09-12 15:44] #141 closed, assigned to JMurk

[2014-09-13 20:48] kanglu666 commented on #147
updated at prod, please test

[2014-09-13 20:48] kanglu666 commented on #146
updated at prod.

[2014-09-13 20:48] kanglu666 commented on #145
updated at prod

[2014-09-13 20:49] kanglu666 commented on #144
updated at prod

[2014-09-13 20:52] kanglu666 commented on #143
done at prod, please test.
ps: store procedure for report also updated

[2014-09-13 20:52] kanglu666 commented on #142
updated at prod

[2014-09-13 20:55] kanglu666 commented on #128
we need to talk about this.
is the second 5-day report the same as the first one? or the second one should be another separate report.
i think the store procedure for the report also need to be updated.

[2014-09-14 13:07] JMurk opened #148 "SSO Application - SSO Details - Add Fields to Application & Report"
Please add the following fields to the application.  They should both be required for report submission:

-Weather Conditions (see WW_VVT_Weather domain for valid codes and description)
-Temperature (integer)

Place the fields under Overflow Type
![image](https://cloud.githubusercontent.com/assets/5805454/4264001/a0da56fc-3c0f-11e4-9f26-a76c091187e4.png)

Within the reports, add under the Occurren

[2014-09-14 13:08] JMurk commented on #140
These fields have been added to the prod database.  Dev database is down.

Lu- please update trigger so that these 2 fields are populated upon insert.

[2014-09-14 13:34] JMurk opened #149 "SSO Application - CAUSE Field Updates"
The following changes should be made to the application:

-Change the label of "Trash" to "Trash/Debris".
![image](https://cloud.githubusercontent.com/assets/5805454/4264081/cf83df2e-3c13-11e4-8759-0dd4e4ee0ef7.png)

-Sand, Gravel, Rocks field should write to CAUSE_SGR field.

[2014-09-14 13:35] JMurk commented on #128
The only difference with the second 5-day report is that is will have "Amended" under the FINAL REPORT label.

![image](https://cloud.githubusercontent.com/assets/5805454/4264084/fe3c4202-3c13-11e4-8dce-4fd05facbc62.png)

[2014-09-14 15:12] kanglu666 commented on #140
done for prod. both trigger and web services have been updated

[2014-09-15 15:26] JMurk commented on #147
Confirmed complete.

[2014-09-15 15:26] #147 closed, assigned to JMurk

[2014-09-15 15:28] JMurk commented on #143
Confirmed complete.

[2014-09-15 15:28] #143 closed, assigned to JMurk

[2014-09-15 15:52] JMurk commented on #146
Confirmed complete.

[2014-09-15 15:52] #146 closed, assigned to JMurk

[2014-09-15 16:04] JMurk commented on #140
These fields are not auto populating.

[2014-09-15 16:05] JMurk commented on #144
Confirmed complete.

[2014-09-15 16:05] #144 closed, assigned to JMurk

[2014-09-15 16:05] JMurk commented on #142
Confirmed complete.

[2014-09-15 16:05] #142 closed, assigned to JMurk

[2014-09-15 16:07] JMurk commented on #134
Confirmed complete.

[2014-09-15 16:07] #134 closed, assigned to JMurk

[2014-09-15 19:35] kanglu666 commented on #149
done at dev.

[2014-09-15 19:36] kanglu666 commented on #148
done at dev

[2014-09-15 19:37] kanglu666 commented on #140
updated at dev.
Initiated_By and Initiated_Date will be auto populated when an new sso created

[2014-09-15 19:52] JMurk commented on #149
Confirmed on dev, ready for push to prod.

[2014-09-15 19:58] JMurk commented on #148
Confirmed on app, but not in report yet.  Please update.

[2014-09-15 20:11] kanglu666 commented on #149
prod updated

[2014-09-15 20:11] kanglu666 commented on #148
where you want to put the new fields in the report?

[2014-09-16 11:46] JMurk commented on #149
Please update the report.

![image](https://cloud.githubusercontent.com/assets/5805454/4286588/1249693a-3d97-11e4-9fea-55b321de033d.png)

[2014-09-16 11:47] JMurk commented on #148
Under Occurrence Date and Occurrence Location, as it says above.

[2014-09-16 11:50] JMurk commented on #145
Confirmed complete.

[2014-09-16 11:50] #145 closed, assigned to JMurk

[2014-09-16 11:57] JMurk commented on #140
Confirmed on dev, ready for push to prod.

[2014-09-16 14:49] kanglu666 commented on #149
reports have been updated, please test

[2014-09-16 14:49] kanglu666 commented on #148
reports have been updated, please test

[2014-09-16 14:50] kanglu666 commented on #140
updated at prod, please test

[2014-09-16 17:04] JMurk commented on #148
Confirmed complete.

[2014-09-16 17:15] JMurk commented on #140
Confirmed complete.

[2014-09-16 17:15] #140 closed, assigned to JMurk

[2014-09-16 17:16] JMurk commented on #149
Confirmed complete.

[2014-09-16 17:16] #149 closed, assigned to JMurk

[2014-09-16 17:40] JMurk opened #150 "SSO Application - Assign to Email Notification"
When the "Assigned To" field is changed and the report is saved, the user that the SSO is then assigned to should receive the following email:

**Subject:**  An SSO at [insert location] Has Been Assigned to You!

**Body:**  The SSO report at [insert location] has been assigned to you by [insert full name of last editor] for completion.  Please access the SSO Reporting Mobile Application and check

[2014-09-16 17:47] JMurk commented on #148
Weather conditions is not printing.
![image](https://cloud.githubusercontent.com/assets/5805454/4292026/882c0892-3dc9-11e4-91d1-3a899fcf2187.png)

[2014-09-19 12:04] JMurk opened #151 "SSO Application - GPS Pin Graphic Missing"
**Issue:** When pressing the Zoom to Position button, the app does not display the blue push pin.  It appears that the reference link to that graphic is broken.  This is an issue in both dev and prod.

![image](https://cloud.githubusercontent.com/assets/5805454/4334873/1b86269a-3ff5-11e4-96b7-b32e3128e82e.png)

**Resolution:**  Please investigate and resolve accordingly.

[2014-09-23 02:10] kanglu666 commented on #151
fixed

[2014-09-23 02:10] kanglu666 commented on #148
fixed

[2014-09-23 13:47] JMurk commented on #151
Confirmed complete on dev and prod

[2014-09-23 13:47] #151 closed, assigned to JMurk

[2014-09-23 13:59] JMurk commented on #148
Confirmed complete.

[2014-09-23 13:59] #148 closed, assigned to JMurk

[2014-09-24 14:51] kanglu666 commented on #150
updated

[2014-09-25 15:49] JMurk commented on #150
Confirmed complete.

[2014-09-25 15:49] #150 closed, assigned to JMurk

[2014-09-30 12:08] JMurk opened #152 "SSO Application - No Buttons When Opening from Inbox"
**Issue**:  When users with editor permission opens up an SSO from their inbox, the Photos, Save, and Email buttons are missing from the SSO Details.

**Resolution**:  I was not able to re-create the issue with my log in last week, but just had someone come forward with the issue on their iPad.  His name was Gregory Crowder and he was running iOS8.

[2014-09-30 15:17] JMurk opened #153 "SSO Application - Email Report - No Data"
**Issue**:  The report link that is emailed (24 and 5day) opens a blank report.  This is occurring in production.

**Resolution:** Please investigate and resolve accordingly.

[2014-09-30 15:20] JMurk commented on #153
Email links from prod pointing to dev.  Please update.

[2014-09-30 15:24] kanglu666 commented on #153
updated

[2014-09-30 15:33] kanglu666 commented on #152
if the record "ASSIGNED_TO" value not equal to current login user.
he will no be able to see all the buttons if he has role editor. otherwise, he should be able to see buttons.

i also cant re-create the issue. tell him do some screen shots, record which SSO he selected.

[2014-09-30 15:37] JMurk commented on #153
Confirmed complete.

[2014-09-30 15:37] #153 closed, assigned to JMurk

[2014-09-30 16:10] JMurk opened #154 "SSO Application - New SSO Not Saving - Stuck on Load"
**Issue:**  In production, I just tried to create a new SSO.  When clicking save, the application gets stuck on the loading screen.

![image](https://cloud.githubusercontent.com/assets/5805454/4461646/23448f32-48bc-11e4-8a00-3900cb81e2dd.png)

**Resolution:**  Please investigate and resolve accordingly.  I suspect there is an issue with the trigger.

[2014-09-30 16:40] kanglu666 commented on #154
fixed

[2014-10-02 12:53] JMurk commented on #152
Logging in as Gregory.Crowder

![image](https://cloud.githubusercontent.com/assets/5805454/4490963/0c8fe84a-4a33-11e4-96be-a324f18ad943.png)

You can see the buttons missing.  His pw is Welcome01 if you need to test.

[2014-10-02 17:37] JMurk commented on #154
Confirmed complete.

[2014-10-02 17:37] #154 closed, assigned to JMurk

[2014-10-02 18:27] kanglu666 commented on #152
fixed on dev, please test

[2014-10-02 18:45] kanglu666 commented on #128
updated on city dev

[2014-10-03 15:15] JMurk commented on #152
Confirmed complete.  Please push to prod.

[2014-10-03 15:42] JMurk commented on #128
There is a small typo on the report.  Change 'IA' to 'IS'

![image](https://cloud.githubusercontent.com/assets/5805454/4508219/a7ad910c-4b13-11e4-994a-49cec0287d31.png)

Everything else looks good and should be ready for push to prod once the schema is updated.

[2014-10-04 13:21] JMurk commented on #128
Schema now updated at prod.

[2014-10-05 08:52] kanglu666 commented on #128
Updated at prod, ready for testing

[2014-10-05 08:54] kanglu666 commented on #152
SSO app has been updated at city prod, ready for testing.

[2014-10-06 15:25] JMurk commented on #152
Confirmed complete.

[2014-10-06 15:25] #152 closed, assigned to JMurk

[2014-10-06 15:27] JMurk opened #155 "SSO Application - Delete Record Message"
**Issue:**  There is a typo in the delete SSO warning message,

![image](https://cloud.githubusercontent.com/assets/5805454/4528245/3fc35142-4d6d-11e4-9873-6264826194d0.png)

**Resolution:** Please update the message to read "Warning: Are you sure you want to delete this record?"

[2014-10-06 15:37] JMurk commented on #128
The 5-day report links in the inbox (and anywhere else they exist) should point to the amended link.  Currently they are pointing to the first 5-day report submitted.

[2014-10-07 13:08] kanglu666 commented on #128
Now there are three report 24 hour- 5 day- 5 day amend.
Do you want add another 5- day amend link OR just change 5 -day to 5 day amend

[2014-10-07 13:12] JMurk commented on #128
Neither.  The 5-Day Report link should always link to the most recent 5-Day report. If there is an amendment, the link will pull that.  If there is no amendment, the link will pull the standard 5-Day report.

[2014-10-11 01:34] kanglu666 commented on #155
updated in dev, please test

[2014-10-11 01:35] kanglu666 commented on #128
5 day amended report link has been added in the index page and the identify result page
please test in dev

[2014-10-15 12:31] JMurk commented on #128
Lu, we do not want a third hyperlink.  Instead there should only be two, with the 5-Day Report hyperlink always pulling the most recent 5-Day report.

There should be a rule/query set when the user clicks the link, the system will check to see if there is an amended report.  If so, it will return that.  If not, it will return the 5-Day.

[2014-10-15 12:51] JMurk opened #156 "SSO Application - Map Load in Chrome"
**Issue:**  When loading the application in Google Chrome, the map get stuck on the loading screen until you zoom in or out.  This appears to only be an issue for the SSO application in dev AND PROD.  Prod does not seem to load anything.

![image](https://cloud.githubusercontent.com/assets/5805454/4645399/8c828e24-5468-11e4-94b8-df91cde16b61.png)

**Resolution:**  Please investigate and resolve ac

[2014-10-15 12:56] JMurk commented on #155
Confirmed complete in dev, ready for push to prod.

[2014-10-16 19:53] kanglu666 commented on #156
working fine for me

[2014-10-16 19:53] kanglu666 commented on #155
updated in PROD

[2014-10-16 19:53] kanglu666 commented on #128
updated please Test.

[2014-10-17 15:39] JMurk opened #157 "SSO Application - Reorder SSO Detail Fields"
As per my email, please update the SSO Details page so that the fields are ordered as they are in the attached mock-up.

[2014-10-17 16:09] JMurk commented on #156
Seems to be working OK.

[2014-10-17 16:09] #156 closed, assigned to JMurk

[2014-10-17 16:23] JMurk commented on #155
Confirmed complete.

[2014-10-17 16:23] #155 closed, assigned to JMurk

[2014-10-17 16:25] JMurk commented on #128
Can you label the Third button, "Load amended SSOs" please?
![image](https://cloud.githubusercontent.com/assets/5805454/4682173/2a5c896c-561a-11e4-93e9-57a670e37181.png)

[2014-10-20 14:55] JMurk opened #158 "SSO Application - DEV - Spatial Autopoulates not Working"
**Issue:**  The fields that are supposed to auto-populate based on spatial location, are not.

![image](https://cloud.githubusercontent.com/assets/5805454/4703231/08708a28-5869-11e4-8603-8ea5c512492e.png)
![image](https://cloud.githubusercontent.com/assets/5805454/4703243/10c0d0e8-5869-11e4-9bd7-bf2c09c505c1.png)

**Resolution:** Please investigate and resolve accordingly.

[2014-10-21 15:42] kanglu666 commented on #157
updated

[2014-10-21 15:43] kanglu666 commented on #128
updated

[2014-10-21 16:33] kanglu666 commented on #158
Dev sso_boundaries map service is super slow and has some issue. please check that.

[2014-10-21 18:10] JMurk commented on #157
Confirmed complete in prod & dev

[2014-10-21 18:10] #157 closed, assigned to JMurk

[2014-10-21 19:10] JMurk commented on #158
Confirmed complete on dev and prod.

[2014-10-21 19:10] #158 closed, assigned to JMurk

[2014-10-21 19:22] JMurk commented on #128
Confirmed complete.

[2014-10-21 19:22] #128 closed, assigned to JMurk

[2014-10-22 19:28] JMurk opened #159 "SSO Application - 5-Day Report Submission"
**Issue:**  While in the field on an iPad (8.1), the application got stuck on the loading screen when trying to email the 5-day report.

[2014-10-22 20:40] kanglu666 commented on #159
fixed for dev. in sso trigger. change schema dbo to GIS_ADMIN.
PROD should be working fine.

[2014-10-23 13:40] JMurk commented on #159
Cleared cache and it is still not working in dev.

![image](https://cloud.githubusercontent.com/assets/5805454/4753857/13478854-5aba-11e4-9f50-bb25d7b8565e.png)

[2014-10-23 13:54] kanglu666 commented on #159
working fine for me

[2014-10-24 16:37] JMurk opened #160 "SSO Application - Inbox - Admins"
For all users with the security role of "Admin", please load their inbox with all SSOs with a status of "In Progress"

Admins should also have the ability to edit any SSOs, regardless of who is assigned.

[2014-10-24 16:59] JMurk opened #161 "SSO Application - 5 Day Report Email"
For the 5-day report email, please set it to email

Lakeisha.Laury@baltimorecity.gov
Kumasi.Vines@baltimorecity.gov
Eloise.Black@baltimorecity.gov

in addition to those who are on it now.

[2014-10-24 17:03] JMurk opened #162 "SSO Application - New Email"
Can we fire an email when the Assigned To field is changed?  The email should include the information input by the investigator.

[2014-10-27 20:47] kanglu666 commented on #161
done for PROD

[2014-10-27 20:47] kanglu666 commented on #160
updated on city DEV, please

[2014-10-28 14:31] JMurk commented on #161
I still see only me, Amy, and Ian.

![image](https://cloud.githubusercontent.com/assets/5805454/4809869/272b7eb8-5eaf-11e4-900c-5392ead86e69.png)

[2014-10-28 14:38] JMurk commented on #160
Can you also add "Assigned To" to the details of the records in the inbox list?

![image](https://cloud.githubusercontent.com/assets/5805454/4810001/0121120e-5eb0-11e4-893b-e6d83d85b03b.png)

Under Location.

[2014-10-28 16:00] JMurk commented on #159
Still not working, use SSOID 3409 as a test case.

[2014-10-28 16:42] JMurk commented on #159
Confirmed complete.

[2014-10-28 16:42] #159 closed, assigned to kanglu666

[2014-10-30 16:51] JMurk opened #163 "SSO Application - Add Emails to Report distributions"
Please add the following emails to all distributions:

ben.harris@baltimorecity.gov
eric.ritter@baltimorecity.gov

[2014-10-30 18:42] JMurk opened #164 "SSO Application - Add Text to the form"
Please add the following text, center aligned, under the Is the "Overflow Still Active?" field:

IF ONGOING, FOLLOW UP REPORT MUST BE FILED WHEN OVERFLOW IS STOPPED

[2014-11-03 19:46] JMurk commented on #163
Confirmed complete.

[2014-11-03 19:46] #163 closed, assigned to kanglu666

[2014-11-03 19:47] JMurk commented on #161
Confirmed complete.

[2014-11-03 19:47] #161 closed, assigned to kanglu666

[2014-11-04 16:16] kanglu666 commented on #160
updated

[2014-11-04 16:16] kanglu666 commented on #164
updated

[2014-11-04 16:32] kanglu666 commented on #162
we have this function in place from the very beginning.
when an sso being updated, and the assign to field not == to the current log in user, an email will be send to the new assigned to user.

[2014-11-11 15:16] JMurk commented on #164
Confirmed complete in both dev and prod.

[2014-11-11 15:16] #164 closed, assigned to JMurk

[2014-11-11 15:21] JMurk commented on #162
Ok... so now the question is can we CC three other people every time this occurs?

[2014-11-11 15:26] JMurk commented on #160
Confirmed complete.

[2014-11-11 15:26] #160 closed, assigned to JMurk

[2014-11-14 22:24] JMurk opened #165 "SSO Application - REMOVE EMAIL FROM 24-Hour"
Please remove the following emails from the 24-hour report email list:

Lakeisha.Laury@baltimorecity.gov;
Kumasi.Vines@baltimorecity.gov;
Eloise.Black@baltimorecity.gov

These people should receive 5-day reports and 5-day report amendments.

[2014-11-14 22:28] JMurk opened #166 "SSO Application - 5-Day Report Sending Twice"
**Issue**:  I am getting two emails for each 5-day report.  Both are the standard 5-day report, neither are amended.

![image](https://cloud.githubusercontent.com/assets/5805454/5054498/8f6a479e-6c23-11e4-8232-a992e2f83e56.png)

**Resolution**:  Please investigate and resolve so that this email only get distributed once.

[2014-11-15 15:47] JMurk opened #167 "SSO Application - 5-Day Reports - Email to DLs"
Please update the 5-day and 5-day reports to be emailed to the following:

-5-day reports when "OVER_10000" = 0 (NO) - Send to "DL - 5 day under 10000"
-5-day reports when "OVER_10000" = 1(YES) - Send to "DL - 5 day over 10000"

[2014-11-19 18:16] kanglu666 commented on #162
yes, we can. give me the email list

[2014-11-19 18:16] kanglu666 commented on #165
done

[2014-11-19 18:17] kanglu666 commented on #167
updated

[2014-11-19 20:08] JMurk commented on #165
Confirmed complete.

[2014-11-19 20:08] #165 closed, assigned to JMurk

[2014-11-19 20:10] JMurk commented on #166
Confirmed complete.

[2014-11-19 20:10] #166 closed, assigned to JMurk

[2014-11-19 20:12] JMurk commented on #167
Confirmed for regular 5-day report.  Will confirm over 10,000 once one occurs.

[2014-12-08 15:25] jday3 opened #168 "SSO Application - iOS 8.1.1 bug causes app to crash when submitting email report"
After investigating this bug, I have determined that it is due to a bug in the latest iOS update. It may be related to [this issue](https://github.com/jquery/jquery-mobile/issues/7685) with jQuery Mobile. If that is the case, the bug is between iOS and Sencha Touch and we will have to wait for some resolution on their side.

[2014-12-09 17:47] JMurk commented on #168
Thanks for the update Jesse, we will have to use a work around and/or hold off on upgrading iPads when possible (if they aren't already at 8.1.1).

[2014-12-09 17:59] JMurk commented on #162
Please email Jerry.Butler@baltimorecity.gov, Kenneth.Smith@baltimorecity.gov, and James.Patrick@baltimorecity.gov whenever the "assigned to" field is changes.  The body of the email should read:

SSO (number) at (location) has been initiated by (initiated by name) and assigned to (new assigned to name.)

To test, you can set up the email to only send to me in the development environment.

[2014-12-15 13:54] JMurk opened #169 "SSO Application - Overflowing Feature Selection - House Connections Selectable"
This will be a change in workflow.  When selecting the overflowing feature, users may select Clean Outs.  The issue is that the feature class representing Clean Outs are really address points and are thus not always in the location of the actual Clean Out.

To solve this issue, we will remove the points as selectable and make House Connections selectable instead.  When chosen, OVFL_STRUCTURE shoul

[2014-12-15 19:51] jday3 commented on #169
Done, on dev.

[2014-12-15 20:28] JMurk commented on #169
Confirmed complete on dev, please push to prod.

[2014-12-15 20:29] jday3 commented on #162
I need a little clarification.

Currently, the system sends an email to the assignto user when the sso is saved and the the assignto user is not the user that is using the app. Do you want to send an email whenever the sso is saved and the assignto field is changed? (not just when the assignto user is not the current app user). Also the current email that is being sent has the body : "The SSO repo

[2014-12-15 20:41] JMurk commented on #162
This will be an entirely new/different email.  Basically, the three emails above are the investigation supervisors.  They requested to be notified when investigators (their staff) hand over work to maintenance supervisors so they can make sure their work is up to par.

If that doesn't make sense, we can discuss tomorrow.

[2014-12-15 20:48] jday3 commented on #162
That makes sense, thanks.

[2014-12-16 16:29] JMurk opened #170 "SSO Application - Reports - Evidence Only"
For ALL reports where OVF_EVIDENCE = 1(Yes), display EST. QUANTITY OF DISCHARGE (GAL: and EST. OVERFLOW (GPM) as "Unknown"

![image](https://cloud.githubusercontent.com/assets/5805454/5457143/9e367d72-8516-11e4-8492-12d302aafca5.png)

[2014-12-18 17:20] jday3 commented on #162
Ready for testing on dev

[2014-12-18 20:14] JMurk commented on #168
FYI:  Just tested in 8.1.2...... Same issue.

[2014-12-23 17:05] JMurk commented on #162
Looks good.  I have sent an email to the users to see if they are OK with the implementation.

[2014-12-29 13:46] JMurk opened #171 "SSO Application - Confirmation Message ?"
**Issue:**  In dev, when emailing the 24-hour report, the system prompts the following contradictory message:

![image](https://cloud.githubusercontent.com/assets/5805454/5569066/ff939922-8f36-11e4-9d54-87e5c2837a2a.png)

I think that the report submission failed since I did not get an email.  However, the message states a success.

**Resolution:** Please adjust this message so that it clear state

[2014-12-29 14:04] jday3 commented on #171
There was a config error with the web API where it was using an outdated password to send the emails

[2014-12-29 15:45] JMurk opened #172 "SSO Application - Initiated By - Populating Incorrectly"
**Issue:**  The INITIATED_BY and INITIATED_DATE fields are populating on every insert AND update.  It should only populate upon update.

![image](https://cloud.githubusercontent.com/assets/5805454/5569989/c7352738-8f47-11e4-8eb3-9087c7464495.png)

**Resolution:** Please adjust the trigger so that these fields are only edited upon insert.

[2014-12-29 18:19] jday3 commented on #172
fixed on dev

[2014-12-29 19:01] JMurk commented on #172
Confirmed complete.  Please push to prod.

[2014-12-29 19:11] JMurk commented on #171
Please updated the confirmation message text for when a failure occurs.  Just remove "Record Reported Successfully!" sentence from the existing message.

[2014-12-29 20:57] jday3 commented on #170
Done on dev

[2014-12-30 14:25] JMurk opened #173 "SSO Application - Remove Photo Requirement"
Please remove the requirement of 2 attached photos before email.

[2014-12-30 14:26] jday3 commented on #171
Fixed on dev and prod, but I don't think youll be able to test since it is a rare error

[2014-12-30 15:00] jday3 commented on #173
done on dev

[2014-12-30 17:50] JMurk commented on #173
Confirmed completed on dev, please push to prod.

[2014-12-30 17:53] JMurk commented on #170
The reports being emailed from dev are pointing to prod by mistake.  Also when attempting to launch a 24 hour report from the application, a server error is returned:

![image](https://cloud.githubusercontent.com/assets/5805454/5581217/113b5ad2-9024-11e4-8732-dd909805ca09.png)

[2014-12-30 18:11] JMurk commented on #171
I have faith.... Closing.

[2014-12-30 18:11] #171 closed, assigned to JMurk

[2014-12-30 18:17] JMurk commented on #169
Confirmed complete.

[2014-12-30 18:17] #169 closed, assigned to JMurk

[2014-12-31 14:35] jday3 commented on #170
The emails are fixed, and you should be able to see the 24 hour reports on dev now

[2014-12-31 14:42] jday3 commented on #173
Now on prod

[2014-12-31 15:53] jday3 commented on #168
I found a workaround for this. I replaced the alert box with a sencha touch message box and now it doesn't crash. This is on dev for you to test @JMurk

[2014-12-31 17:48] JMurk opened #174 "SSO Application - Changes in the Features Tab Do Not Save"
I am getting reports from Steve that changes he makes in the Features form are not making their way into the database.  Specifically the Choked Feature ID.

This appears to be working in dev OK, just not production.

Please look into this ASAP.

[2014-12-31 18:13] jday3 commented on #174
This is going to be hard for me to test since I can't create a new SSO. From what I'm seeing in the app code and database in dev, it is working and should be the same in production

[2014-12-31 18:14] jday3 commented on #174
Is Steve clicking 'Save' everytime?

[2014-12-31 20:27] JMurk commented on #174
I just tested in prod and it worked fine.  It must be that he is not saving every time.

[2014-12-31 20:27] #174 closed, assigned to JMurk

[2014-12-31 20:28] JMurk commented on #173
Complete.

[2014-12-31 20:28] #173 closed, assigned to JMurk

[2015-01-02 13:45] JMurk commented on #172
Appears to be working.

[2015-01-02 13:45] #172 closed, assigned to JMurk

[2015-01-02 13:56] JMurk commented on #170
Confirmed complete on dev.  I noticed that WEATHER CONDITIONS are not displaying in dev (works fine in prod).  Just be sure that bug does not come over when making the push to prod.

![image](https://cloud.githubusercontent.com/assets/5805454/5596487/4b5fe08a-925d-11e4-9726-9eb35ffff265.png)

[2015-01-02 14:10] JMurk commented on #168
Nice, that works.  A while ago we were having issues with the Sencha modal screens not closing after clicking OK, so we will need to keep an eye out for that issue moving forward.

One minor change I would make, is to change the color of the header text "Email" from black to white.  It is hard to see on the iPad screen.

I say go ahead and push this to prod.

[2015-01-02 14:26] jday3 commented on #170
It seems like the app has the wrong domain values set for moderate and heavy rain, so I will need to update it there

[2015-01-02 15:40] jday3 commented on #170
I went ahead and updated the app on both dev and prod so that it is setting the correct domain values for weather condition. Additionally, I fixed the data that already exists so that the reports for existing SSOs will generate correctly

[2015-01-02 15:55] jday3 commented on #170
The updated reports are now on prod

[2015-01-02 15:55] jday3 commented on #168
Okay, the font is now white and I pushed to prod

[2015-01-02 16:29] JMurk commented on #170
Confirmed complete.

[2015-01-02 16:29] #170 closed, assigned to JMurk

[2015-01-02 16:41] JMurk commented on #168
The header font still appears black on prod

![image](https://cloud.githubusercontent.com/assets/5805454/5597666/573075ca-9274-11e4-9dd0-e964da12124d.png)

[2015-01-02 16:58] jday3 commented on #168
Woops, I forgot to copy over the updated css file. Should be fixed now

[2015-01-02 17:02] JMurk commented on #168
Confirmed Complete

[2015-01-02 17:02] #168 closed, assigned to JMurk

[2015-01-07 17:56] jday3 opened #175 "SSO Application - SSOs Won't Save - Issue with 'OVERFLOW_POINT_ID' field"
When a user selects a Clean Out as an associated feature, they are unable to save the SSO (this is on dev and prod). The issue is that the 'OVERFLOW_POINT_ID' field is an integer field and the ids are too big to be stored.

Resolution: Update the 'OVERFLOW_POINT_ID' field to either nvarchar or bigint

[2015-01-08 13:14] JMurk commented on #175
Can we write house connection values to the OVERFLOW_TAG field instead?  The OVERFLOW_POINT_ID should be used only when an Clean Out (address point) is selected from the map as an overflowing feature.

[2015-01-08 15:07] jday3 commented on #175
Per our discussion, I updated the app to populate OVERFLOW_TAG when the overflowing feature is a clean out. I also updated the three reports to pull from TAG when the overflowing feature is a clean out. This is on dev only.

[2015-01-08 16:06] JMurk commented on #175
Looks good.  Please push to prod.

[2015-01-08 18:29] jday3 commented on #175
Done, on dev

[2015-01-08 18:29] jday3 commented on #175
Wrong issue

[2015-01-08 18:42] jday3 commented on #175
Now on prod

[2015-01-09 18:12] JMurk opened #176 "SSO Application - 24-Hour Reports - Send to DLs"
Please point the 24-hour reports to send to the following distribution lists:
- SSO-24hr-over-10000 (when OVR_10000 = 1)
- SSO-24hr-under-10000 (when OVR_10000 = 0)

This change should be made in PROD only.

[2015-01-12 14:56] JMurk commented on #175
Confirmed complete.

[2015-01-12 14:56] #175 closed, assigned to JMurk

[2015-01-14 14:51] jday3 commented on #176
This is done on prod

[2015-01-14 16:08] JMurk commented on #176
Steve says he did not receive it

[2015-01-14 16:26] JMurk commented on #176
Sorry, the emails are actually
DL-24hrunder10000@baltimorecity.gov
dl-24hrover10000@baltimorecity.gov

[2015-01-14 16:34] jday3 commented on #176
updated

[2015-01-16 18:48] JMurk commented on #176
Confirmed complete.

[2015-01-16 18:48] #176 closed, assigned to JMurk

[2015-01-20 17:20] JMurk opened #177 "SSO Application - Change Email Subject Lines for >10000 Gallons"
Please change the subject line for 24 Hour and 5 Day emails where OVR_10000 = 1 to read:

"OVER 10,000 GALLON SSO Reported at: <location>"

Can you make flag it has high-importance as well?

[2015-01-23 14:11] jday3 commented on #177
Done on dev. As far as the importance goes, I marked the over 10000 gallon emails as high priority, but that is about all I can do.

[2015-01-30 14:39] JMurk opened #178 "SSO Application - Assigned to You Email - Only Send When In Progress"
**Issue:** Currently the application is designed to fire off an email each time the "Assigned To" field is changed.  I believe this may be sending at times when the SSO is saved without a change to that field, which causes confusion.

**Resolution:**  Please be sure that the email only send when a change is made to that specific field.  ALSO... only fire the email when the status = In Progress.

[2015-01-30 14:46] JMurk opened #179 "SSO Application - Preparer and Preparer Title Autopopulate"
**Issue:**  Preparer and Preparer Title correctly autopopulate when a report is submitted, however it is updated each time a new report is submitted, which is incorrect.  It should only populate when the 24-hour report is submitted (or when those fields are null)

**Resolution:**  Please update so that these field are only populated after 24-hour report submital.

[2015-01-30 20:27] jday3 commented on #179
Done on dev

[2015-01-30 20:27] jday3 commented on #178
Done on dev

[2015-02-02 18:29] JMurk commented on #178
Hmm, I don't seem to be getting emails or the notification in the app has been assigned to the selected user.

[2015-02-02 18:36] JMurk commented on #178
Confirmed on dev, please push to prod.

[2015-02-02 18:39] JMurk commented on #177
That works.  Please push to prod.

[2015-02-02 19:56] jday3 commented on #177
done

[2015-02-02 19:56] jday3 commented on #178
done

[2015-02-03 13:26] JMurk opened #180 "SSO Application - Photos Not Uploading"
**Issue:**  It appears that photos are not uploading in production.

**Resolution:** Please investigate and resolve accordingly.

[2015-02-03 13:42] JMurk commented on #178
Complete.

[2015-02-03 13:42] #178 closed, assigned to JMurk

[2015-02-03 13:43] JMurk commented on #177
Complete.

[2015-02-03 13:43] #177 closed, assigned to JMurk

[2015-02-03 13:57] jday3 commented on #180
done

[2015-02-03 13:58] JMurk commented on #179
Confirmed complete, please push to prod.

[2015-02-03 13:58] JMurk commented on #180
Confirmed complete.

[2015-02-03 13:58] #180 closed, assigned to JMurk

[2015-02-03 13:59] JMurk commented on #167
Closing.

[2015-02-03 13:59] #167 closed, assigned to JMurk

[2015-02-03 14:00] JMurk commented on #162
Since I have gotten no response from the users on this issue in a long time, we are going to abandon this enhancement.  It will be reopened if it is requested again.

[2015-02-03 14:00] #162 closed, assigned to JMurk

[2015-02-04 19:02] JMurk opened #181 "SSO Application - Report - Photos not Prinitng"
**Issue:**  The photos sub-report in all reports (24-hour, 5-day, 5-day amended) is failing.

![image](https://cloud.githubusercontent.com/assets/5805454/6047226/6391e1ac-ac76-11e4-9459-5e7694736283.png)

**Resolution:**  Please investigate and resolve accordingly.

[2015-02-04 19:28] kanglu666 commented on #181
fixed, please test

[2015-02-04 19:55] JMurk commented on #181
Confirmed complete.

[2015-02-04 19:55] #181 closed, assigned to JMurk

[2015-02-04 19:58] JMurk opened #182 "SSO Application - Recently Reviewed List"
**Issue:**  Currently the "Recently Reviewed" SSO list on the inbox loads all SSOs with a status of 5DAY.  There are too many in the list and it is ordered so that hte most recent are at the bottom.

**Resolution:** Please only load 5DAY SSOs where the Occurrence Date is within the past 60 days.  Also change the display order from newest at the top to oldest at the bottom.

[2015-03-06 13:38] jday3 opened #183 "SSO Application - SSOs without Geometry"
Somehow an SSO was created in production without populating the SHAPE attribute. Not able to recreate, but it is something to keep an eye on.

[2015-03-09 18:06] JMurk commented on #179
It looks like this this is complete in prod.  Jesse, can you check and confirm please?

[2015-03-10 11:54] jday3 commented on #179
Yes it is. It came over when I updated the references to the sewer features map service

[2015-03-10 11:54] #179 closed, assigned to jday3

[2015-03-10 11:54] jday3 commented on #183
Was because of a change in the sewer map service

[2015-03-10 11:54] #183 closed, assigned to jday3

[2015-03-10 11:54] jday3 commented on #183
Fixed now

[2015-03-13 13:55] alanfoster99 opened #184 "SSO Application - Potential late SSO report alert"
Can we set up an email notification if an SSO gets to 4 days without a "5 day report" being filed?

Ideally, an email will be sent out to a DL (being created now in the City) notifying the list that an SSO is nearing the 5 day mark and still needs the 5 day report to be submitted.

Subject:  SSO 5 Day Report Needed

Importance:  High

Text should be:
"An SSO 5 day report is needed for SSO [insert

[2015-03-24 13:29] JMurk opened #185 "SSO Application - Choked Features - Add Manholes As Selectable Option"
Users would like the ability to identify manholes as the choked feature.  Currently the selection is limited to Mainlines and House Connections.

I added it to the domain in Dev and Prod, so it shows up in the features page dropdown.  Just need to add it to the selection functionality.

![image](https://cloud.githubusercontent.com/assets/5805454/6802583/304068d4-d208-11e4-9c6b-7534e7dc00ca.png)

[2015-03-25 13:53] jday3 commented on #185
Done on dev

[2015-03-25 14:01] JMurk commented on #185
Works, but my post above was incorrect.... I was looking at the Overflowing Feature drop down.  We need to add Manhole to the Choke Type drop down.

Sorry about that.

![image](https://cloud.githubusercontent.com/assets/5805454/6826174/e6e02ef8-d2d5-11e4-99c6-7a5ae1336128.png)

[2015-03-25 14:08] jday3 commented on #185
Done

[2015-03-25 14:30] JMurk commented on #185
Confirmed complete, please push to prod.

[2015-03-25 14:36] jday3 commented on #185
done

[2015-03-25 14:58] JMurk commented on #185
Confirmed complete.

[2015-03-25 14:58] #185 closed, assigned to JMurk

[2015-03-26 18:41] jday3 commented on #182
Done on dev

[2015-04-06 19:24] jday3 commented on #184
@BC89, how do you think we should accomplish this? I would think we create a windows service using Quartz to check the database.

[2015-04-06 21:12] BC89 commented on #184
Doing it with a windows service and quartz should work just fine.

From: Jesse Day [mailto:notifications@github.com]
Sent: Monday, April 06, 2015 3:25 PM
To: JMurk/SSO-Application-Issues
Cc: Brendan Carroll
Subject: Re: [SSO-Application-Issues] SSO Application - Potential late SSO report alert (#184)

@BC89https://github.com/BC89, how do you think we should accomplish this? I would think we create

[2015-04-07 14:26] jday3 commented on #184
@alanfoster99, I just wrote a windows service that runs once a day and sends an email for each SSO that has a status not equal to 5DAY and the SSO_DATE is between 4 and 5 days before todays date. It is running in dev currently and sending the emails to my email address. Let me know an email address you would like me to send to instead for you to test.

[2015-04-07 15:30] alanfoster99 commented on #184
you can send to my baltimore city account -- alan.foster@baltimorecity.gov

the DL is set up, so we can use that after testing

[2015-04-07 15:59] jday3 commented on #184
Okay, I just restarted the service so you should have received an email (probably 2 for the same SSO because it runs twice on the initial start up). Note that the service is using the dev database.

[2015-04-07 16:36] alanfoster99 commented on #184
Worked for me.

The DL is DL-SSOComplianceTeam@baltimorecity.gov

Please go ahead and set it up to use the DL.

Thanks.

[2015-04-07 16:41] jday3 commented on #184
Is there a certain time of day that you would like it to run? In the morning around 8am?

[2015-05-12 13:57] alanfoster99 commented on #184
Let's go with midnight

[2015-05-13 15:02] jday3 commented on #182
This was just pushed to prod while updating the date/time offset issue

[2015-05-13 18:34] JMurk commented on #182
Confirmed complete.

[2015-05-27 16:14] alanfoster99 opened #186 "SSO Application - Report Map Scale"
Please adjust the map scale to show more of the surrounding area on the report -- it is currently too tight.

[2015-06-15 16:45] JMurk opened #187 "SSO Application - Auto-Populate Weather Conditions"
Please add functionality to the SSO application so that weather conditions are automatically populated from an online weather service using the SSO's location (coordinates).

Per Alan, here are some potential sources:

Several free APIs return current conditions based upon lat/long.  Possible sources include forecast.io, NOAA NWS, and Weather Underground.  See:
o   https://developer.forecast.io/
o

[2015-06-15 17:00] JMurk opened #188 "SSO Application - New User Roles"
There is a need for two new user roles for the SSO Application.  The 'Editor' role will be split into roles called ,Investigator, and ,Supervisor.,  For now both will have the same permissions as the 'Editor' role, except the Email button will be hidden for the Investigator role.

[2015-06-16 14:02] jday3 commented on #184
I scheduled it to start at midnight tonight

[2015-06-16 14:12] jday3 commented on #186
Updated scale from 1:200 to 1:1000. Let me know if you would like me to adjust it further or less.

[2015-06-16 14:17] alanfoster99 commented on #186
We will go with this for now.  Thanks!  Closing.

[2015-06-16 14:17] #186 closed, assigned to alanfoster99

[2015-06-16 14:17] alanfoster99 commented on #184
Thank you.  Closing.

[2015-06-16 14:17] #184 closed, assigned to alanfoster99

[2015-06-16 16:15] jday3 commented on #188
Done on dev. I basically just renamed Editor to Supervisor and added Investigator, so you will see that supervisor has a bunch of users and investigator has none.

[2015-06-16 16:17] jday3 commented on #187
Done on dev. I used [Open Weather Map](http://openweathermap.org/weather-conditions) because it has a pretty lax pricing scheme.

[2015-06-18 18:36] JMurk commented on #188
Looks good.  Please push to prod.

[2015-06-18 18:49] JMurk commented on #187
Seems a bit off.  Current conditions are clear and 83 degrees.  Please investigate other options

![image](https://cloud.githubusercontent.com/assets/5805454/8239352/41a55878-15c9-11e5-8987-1fb9b7affca1.png)

[2015-06-18 21:38] alanfoster99 commented on #187
Is this in corrected time or Zulu?

Alan E. Foster
City of Baltimore
Business Analyst and Lead, Data Management Section – Office of Asset Management
1.410.316.0812tel:1.410.316.0812
1.410.396.tel:1.410.396.00220022tel:1.410.396.0022

alan.foster@kci.commailto:alan.foster@kci.com
alan.foster@baltimorecity.govmailto:alan.foster@baltimorecity.gov

[cid:image001.jpg@01D0615E.BF5679C0]http://kci.com/

[2015-06-19 11:42] jday3 commented on #187
Corrected time. When I looked deeper at the API I was using, it states that the free use may return data that is up to two hours old. This obviously isn't useful, so I am looking into other APIs

[2015-06-19 11:43] jday3 commented on #188
Should I just make all users that are currently Editors a Supervisor?

[2015-06-19 12:31] alanfoster99 commented on #187
Got it -- WUnderground and NOAA looked promising to me -- Dark Sky may only be forecast

[2015-06-19 13:48] jday3 commented on #187
I just updated it to use [weather.gov](http://forecast.weather.gov/MapClick.php?lat=39.29037897100045&lon=-76.61218662699963&site=all&smap=1#.VYQdV_lVhBc)

[2015-06-19 19:05] alanfoster99 commented on #188
Here are the duties by user type:

Investigator sees only these: (Supervisor can see as well)

Occurrence Date
Full Location
Zip Code (Auto populates)
Weather conditions (Auto populates)
Temperature (Auto populates)
Evidence of an overflow/Was an active overflow observed/Is the overflow still active? (toggle switches)
Observed by
Observed time
Overflow type
Description of discharge
Start date & Ti

[2015-06-19 19:20] jday3 commented on #188
Okay sounds good. One question though - you mention at the bottom:

`
***If the supervisor is the first responder he should have access to the entire form and not just the supervisor portion, he acts as the investigator and the supervisor in these cases.
`

but earlier you said:

`
Investigator sees only these: (Supervisor can see as well)
`

I just want to clarify that there aren't any restrictio

[2015-06-19 19:25] alanfoster99 commented on #188
You are correct; I should have worded it as "these are the only fields the investigator sees, while supervisor has access to all"

[2015-06-22 12:44] jday3 commented on #188
This is ready for testing in dev

[2015-06-22 13:14] JMurk commented on #188
As an investigator, I am seeing the Email button still.

[2015-06-22 13:14] JMurk commented on #187
Confirmed complete in dev.  Please push to prod.

[2015-06-22 13:45] jday3 commented on #188
This should be fixed

[2015-06-24 14:22] JMurk commented on #188
Looks good, please push to prod.  Keep all editors in as Supervisors as you did in dev.  We will parse out the investigators from there.

[2015-06-24 14:37] jday3 commented on #188
Done. I made you an investigator to confirm

[2015-06-24 14:38] jday3 commented on #187
done

[2015-06-24 15:54] JMurk commented on #188
Confirmed complete.

[2015-06-24 15:54] #188 closed, assigned to JMurk

[2015-06-24 17:20] JMurk commented on #187
Confirmed complete.

[2015-06-24 17:20] #187 closed, assigned to JMurk

[2015-09-17 13:13] JMurk opened #189 "SSO Application - Ongoing Overflow"
Per Steve:  "when an SSO is marked as “ongoing”  the application user is still required to put in an End Date & Time/Duration and Estimated quantity (even though that information is not yet available).  Is it possible to not require the End Date & Time/Duration/Estimated Quantity fields only on SSO reports that are marked as “Ongoing”? ( when the “Is the Overflow Still Active?” toggle switch flipp

[2015-10-27 13:49] JMurk opened #190 "SSO Application - Enhanced Security"
Issue, per Steve:  There have been a couple instances recently where the supervisor was able to send out both the 24-hour and the 5-day report without me being able to QC the final report.  Robert Johnson and Deliah Whitaker were able to send out the 24-hour and 5-day reports for recent SSO events.  Do you have any idea what could be causing this?  The only thing that I can figure is that they are

[2015-10-29 00:50] jday3 commented on #189
Sure, this can be done. Will implement if you want

[2015-10-29 14:38] JMurk commented on #189
Please implement in dev.

[2015-11-04 16:53] JMurk opened #191 "SSO Application - Reports - Label"
Enhancement:  Please have the reports (both 24 hours and 5 day) label the EST. QUANTITY OF DISCHARGE field as ">100" when the value in that field is under 100.

![image](https://cloud.githubusercontent.com/assets/5805454/10945157/9e71dbd8-82ea-11e5-8082-afb909041486.png)

[2015-11-22 17:40] jday3 commented on #191
Do you really mean it to be >100 or should it be <100? I made it <100 since I think that makes sense but lmk if it really should be >

[2015-11-22 17:55] jday3 commented on #191
done on dev, btw

[2015-11-22 17:55] jday3 commented on #190
done on dev

[2015-11-22 17:55] jday3 commented on #189
done on dev

[2015-11-24 18:18] JMurk commented on #191
Yes, my fault.  Confirmed complete, please push to prod.

[2015-11-25 19:48] JMurk commented on #190
Please temporarily unhide the Email button for testing purposes.

[2015-11-25 19:49] JMurk commented on #189
Confirmed complete, please push to prod.

[2015-12-07 19:44] jday3 commented on #191
done

[2015-12-07 19:57] jday3 commented on #190
the change has been pushed to production. I will work now on unhiding the email button in dev for testing purposes.

[2015-12-07 19:58] jday3 commented on #189
done

[2015-12-07 20:17] jday3 commented on #190
okay, i just made it so that the email button never hides. To confirm it is working, you should see a pop up saying 'You do no have permission to do this.' when they shouldn't be able to submit the record. Realistically though, this should never show up since the button is supposed to be hidden.

[2015-12-09 20:32] JMurk commented on #190
Confirmed complete.  Please push the enhanced security to production.

[2015-12-09 20:36] JMurk commented on #191
Confirmed complete.

[2015-12-09 20:36] #191 closed, assigned to JMurk

[2015-12-09 20:39] JMurk commented on #189
Steve Lampo to confirm in production.

[2015-12-10 16:35] JMurk commented on #189
Per Steve Lampo, confirmed complete.

[2015-12-10 16:35] #189 closed, assigned to JMurk

[2015-12-17 13:05] JMurk commented on #182
Please adjust this to be 120 days

[2015-12-28 17:03] jday3 commented on #182
this was completed and confirmed by steve

[2015-12-28 17:03] #182 closed, assigned to jday3

[2015-12-28 17:14] jday3 commented on #190
done

[2016-01-04 13:30] JMurk opened #192 "SSO Application - Date Picker - Add Years"
**Issue:** In the SSO Application, the date picker for occurrence date only goes up to 2015.

![image](https://cloud.githubusercontent.com/assets/5805454/12090793/0442fea6-b2c0-11e5-8dba-495b246afdcf.png)

**Resolution:** Please update to include years to at least 2020.  Please also be sure that all date pickers go up to this date as well.

[2016-01-05 15:09] JMurk commented on #192
Per Jesse: "the correct approach should be to use the current date to calculate the list of years instead of a hard-coded list."

[2016-01-05 18:09] JMurk commented on #192
Confirmed complete, but only hard-coded

[2016-01-05 18:09] #192 closed, assigned to kanglu666

[2016-02-19 21:04] JMurk opened #193 "SSO - Picture Upload Issue"
Per Steve Lampo:

The mobile SSO application still only allows you to upload one picture at a time. However, the main issue that users mentioned is that after uploading/attaching one picture to an SSO report and then immediately trying to upload another picture the second picture replaces the first one.  In other words it will only allow you to upload one picture (this does not happen all the time

[2016-02-19 21:06] JMurk opened #194 "SSO - Cursor Movement Selection"
Per Steve Lampo:

Another problem that was brought up in the meeting is the fact that you are unable to move the cursor to a specific point after you type out and extended amount of text for the description/remarks/measures taken etc.  A good example of this is when one of the application users types out a long sentence in the description of discharge field and then wants to make a change somewher

[2016-03-01 17:33] #190 closed, assigned to JMurk

[2016-03-04 22:06] taojun545 commented on #193
Both the Images Uploader of SSO and Discrepancy were fixed on dev.

Also fixed the bug we discussed on dev:
When deleting the SSO Record, system also need to delete the related images record in database.

[2016-03-08 17:50] JMurk commented on #193
Both have been confirmed complete in dev.  Please push the updates to production.

[2016-03-08 20:15] taojun545 commented on #194
The cursor can be moved into certain part of the sentence by clicking the field. But if the sentence exceeds field length, the cursor can't be moved into excess part.

After researched JS library, it seems be a normal behavior for text field. So I changed following fields into textarea in SSO Details Form:
- Description of Discharge
- Other Description
- Measure Taken
- Preventive Action Taken
- R

[2016-03-08 20:58] JMurk commented on #194
I agree with that approach.  Confirmed complete on dev, please push to prod

[2016-03-11 20:00] taojun545 commented on #194
done on prod.

[2016-03-11 20:10] taojun545 commented on #193
Done on prod.

[2016-03-14 16:03] JMurk commented on #194
Confirmed complete.

[2016-03-14 16:03] #194 closed, assigned to JMurk

[2016-03-14 16:03] JMurk commented on #193
Confirmed complete.

[2016-03-14 16:03] #193 closed, assigned to JMurk

[2016-04-01 12:53] JMurk opened #195 "SSO - Evidence Only - Estimated Quantity"
**Update Description:**  Currently, when a user toggles to _Evidence of an Overflow Only?_ field, the _Estimated Quantity (Gallons)_ field (among others) is disabled.

 Please change so that _Estimated Quantity (Gallons)_ is no longer disabled.  This should also be a required field (it should be already, but please verify).

![image](https://cloud.githubusercontent.com/assets/5805454/14207107/eb14

[2016-04-01 15:06] taojun545 commented on #195
Updated on dev.

[2016-04-05 17:46] alanfoster99 opened #196 "SSO - Report composition"
Please change the name on the 24hr and 5 day reports from:

"Mr. Dave Lyons"

to

"Ms. Sharon Talley"

[2016-04-05 20:11] taojun545 commented on #196
I will update both reports.

But do I need to change "5 Day Amended Report" and "Contact Information", which also have that name.

[2016-04-05 20:38] alanfoster99 commented on #196
Yes please.

Alan E. Foster
City of Baltimore
Lead, Data Management Division – Office of Asset Management
KCI Technologies, Inc. – Geospatial Practice
1.410.316.0812
1.410.396.0022

alan.foster@kci.commailto:alan.foster@kci.com
alan.foster@baltimorecity.govmailto:alan.foster@baltimorecity.gov

[cid:image001.jpg@01D18F57.124C44D0]http://kci.com/

From: Jun Tao [mailto:notifications@github.com]
Sent

[2016-04-05 21:00] taojun545 commented on #196
Updated the name in the three reports and Contact Information on dev.

[2016-04-13 15:06] alanfoster99 commented on #196
Looks good -- please push to production.

[2016-04-15 17:35] JMurk commented on #195
I am still able to submit the SSO without Est. Quantity populated.

[2016-04-15 18:01] taojun545 commented on #195
I added logic to validate field "Estimated Quantity (Gallons) " on dev.

[2016-04-15 19:16] JMurk commented on #195
Confirmed complete, ready for production

[2016-04-15 19:29] taojun545 commented on #196
Updated the name in the three reports and Contact Information on production.

[2016-04-15 20:21] taojun545 commented on #195
Updated on production.

[2016-04-18 13:16] JMurk commented on #195
OK, change of plans.  Can you change it so that Est. Quantity is NOT required?  Please remove the asterisk from the field label as well.

[2016-04-18 13:33] taojun545 commented on #195
Updated on dev.

[2016-04-18 13:56] JMurk commented on #195
Confirmed complete, please push to prod.

[2016-04-18 14:34] taojun545 commented on #195
Updated on production.

[2016-04-18 15:01] JMurk commented on #195
Confirmed complete.

[2016-04-18 15:01] #195 closed, assigned to JMurk

[2016-04-18 15:08] JMurk commented on #196
Confirmed complete in production.

[2016-04-18 15:08] #196 closed, assigned to JMurk

[2016-05-17 19:24] alanfoster99 opened #197 "SSO Report - Add SSOID"
Please add the SSOID to the report, to the right of TEMPERATURE and below ZIPCODE; please add for all reports (24hr, 5 day, etc.) :

![image](https://cloud.githubusercontent.com/assets/7118831/15336179/43801c88-1c43-11e6-9fff-395719567d41.png)

[2016-05-18 18:17] taojun545 commented on #197
Updated on DEV.

[2016-05-18 18:29] alanfoster99 commented on #197
I was able to view this for an SSO in progress, but not for one in 5 Day status -- please see

http://dpwdev.baltimorecity.gov/SSOReport/SSOReport5DAY.aspx?SSOID=3751

and verify that the header is not populated.

[2016-05-18 18:44] taojun545 commented on #197
I think the data in DEV database has some issue.

The SSO 3751 shows in GIS_ADMIN.SSO, but not exists in GIS_ADMIN.SSO_HISTORY_LOG, which should be used for generating report. Since there is no data in GIS_ADMIN.SSO_HISTORY_LOG, the report shows empty data.

[2016-05-18 19:04] alanfoster99 commented on #197
Got it -- thanks.  Verifying with City; will let you know when to deploy.

[2016-05-20 15:24] alanfoster99 commented on #197
Verified.  Please deploy to production.

[2016-05-20 18:38] taojun545 commented on #197
Updated on Production.

[2016-05-20 18:47] alanfoster99 commented on #197
Confirmed.  Closing

[2016-05-20 18:47] #197 closed, assigned to alanfoster99